[2018-03-17 23:57] issmith1 opened #10 "MetaData.test_identifiers should be marked required"
UTM-3237 | This bug will not be scheduled until after TCL3 event.The test_identifiers property on Metadata Model should be marked required. We're asking USSs to submit this field if possible.
-- | --

[2018-03-17 23:59] issmith1 opened #11 "UtmCommons - PriorityElements - further develop the concept to know exactly when to apply which severity level"
This task will not be scheduled until post TCL3 event.

we should have a separate ticket to further develop the concept to know exactly when to apply which severity level

[2018-03-17 23:59] issmith1 opened #12 "NUSS - todo Implement validation between Priority_status and priority_level as per Swagger"
UTM-3220 | This task will not be scheduled until post TCL3 event.
-- | --

[2018-03-18 00:00] issmith1 opened #13 "referencePoint query parameter should be consistent across all UTM-APIs"
UTM-3219 | This task will be scheduled post TCL3 event.Currently, the public safety /uas/operations and uss /operations Swagger documentation have the referencePoint query parameter as a String specified as a GeoJson, whereas the discovery version of referencePoint is a List<Double>. (Might need to look at the versions on GitHub rather than SwaggerHub).For the time being, we can code them as writt

[2018-03-18 01:31] alotau commented on #13
Would be great to get comments from implementers on which approach to standardize upon.

[2018-03-20 19:28] myspri opened #14 "Need to define rules for operation volume intersection"
USS-API needs to define the rules for volume intersection. Should the adjacent 4D volumes be overlapping/touching?

[2018-03-28 16:42] myspri opened #15 "Public Safety USS should inform officer when there is lack of info"
Some USS's may throw an exception while querying for an operation within an area or by uvin.

 Pub-safe USS should handle this situation gracefully and inform the officer that some info might be missing.

There are two situations:

1.USS, potentially operating the vehicle may fails to return result when querying by uvin.

   When this happens, pub-safe USS may populate vehicle info details, but in

[2018-03-28 16:50] myspri opened #16 "Enhance query by uvin endpoint to include details about the operation"
GET /uas/uvin endpoint returns VehicleOperationData which contains the gufi of the operation associated with the vehicle.

However, there is no easy way for the user to retrieve details about the operation.
Reason:
Public safety is a role managed by the public safety USS, therefore may  be unknown to other USS.
This limits the ability of the officer to request info from other USS (since there is n

[2018-04-03 17:40] nasajoey opened #18 "Potential for discrepancy between path param and data member for IDs"
There is not clear guidance on enforcing checking path params against the data supplied in the JSON body.

Example: PUT to  /positions/{id} may exhibit difference between path {id} and the enroute_positions_id supplied in the body.

Need to discuss alternate approaches.  Two potential options (there may be others):

1. Eliminate path param and rely strictly on the data in json body.
2. Add validat

[2018-04-03 20:30] punamverma opened #19 "Define validation rules for Position and UTMMessage 'time*' fields compared to 'now'"
What happens when time_sent is after current time for the receiving USS, which is related to time sync between USSes. Do we need to have validation?

[2018-04-03 20:34] nasajoey commented on #19
Due to lack of definition for time synchronization amongst USSs, the receiving USS should not reject based on potential discrepancies between local clock and timestamps received from other USSs.

The only time checks (I think) should be to ensure consistency amongst the timestamps within the full model as received.  So, start time for an operation should be before the end time, for example.  And f

[2018-04-04 22:33] nasajoey opened #21 "Remove user_id from OperationPlan model?"
Should the user_id field be removed from the Operations model?  THere isn't an analog of user_id in FIXM, though that is not a sufficient reason to remove.  Based on some feedback:

Open for discussion, but likely will be removing for v4.

[2018-04-04 22:36] nasajoey commented on #14
Will slowly add notes here prior to editing the api/models.  Welcome feedback on these suggestions.

I'll label each business rule for operation volume intersections as 'op_vol_rule_num' so that we can refer to them in this discussion chain if necessary.

I am not going to provide these in any particular order.  There may be discrepancies/conflicts in these suggested rules.  We will likely need so

[2018-04-04 22:43] nasajoey commented on #14
**op_vol_rule_1**: The array of operation volumes must have minimum length of 1.
**op_vol_rule_2**: Each operation volume must have non-zero 4D volume (i.e. each of the 4 dimensions much be > 0 in magnitude).
**op_vol_rule_3**: When ordered by ordinal values, a succeeding operation volume must have a non-zero 4D intersection with its immediately preceding operation volume (i.e. there must be inter

[2018-04-11 12:41] nasajoey commented on #14
**op_vol_rule_5**: The array of operational volumes must have length no greater than N.  Should discuss with partners the value of N.  Considerations here relate to exchangeability of data due to size and the ability to efficiently perform checks against the array of op vols... the more there are the more potentially expensive calculations need to be made by the receiver of the data.

[2018-04-11 12:44] nasajoey commented on #14
**op_vol_rule_6**: Each side of an op vol's bounding box must have length less than M.  Should discuss with partners the value of M.  This is a sanity check against excessively large volumes.  Need to be careful here as there may be legitimate use cases wherein large volumes are required/allowed, but we want to encourage efficient planning and protect against misuse of the shared airspace.

[2018-04-11 12:47] nasajoey commented on #14
**op_vol_rule_7**: The planned duration of an op vol must be less than T.  Again, need to be careful to not damage legitimate use cases, but need to protect against misuse/poor planning.  For long duration missions, it may be reasonable to have them replan or to have volumes with the same geog and long time values that slightly intersect.

[2018-04-19 18:43] esparano commented on #14
For op_vol_rule_3, why must consecutive operation volumes have a 4D intersection? Is "barely touching" in 3D space but overlapping in time not sufficient? The overlap in time gives some room to transition between consecutive operation volumes. It seems reasonable to me that an overlap in space but just "barely touching" in time would be another valid way to transition between operation volumes.

[2018-04-19 18:51] esparano opened #22 "Example Contingency model times should be different"
The example requests/responses for the following endpoints:

- PUT /utm_messages/{message_id}
- GET /operations
- GET /operations/{gufi}
- PUT /operations/{gufi}

contain one or more "contingency" objects which have identical begin and end times.

The end time should be after the begin time, unless I'm misunderstanding something.

[2018-04-19 19:02] esparano opened #23 "PUT vs POST consistency"
Throughout the docs, there seems to be an alternation between PUT and POST. For example, the PUT negotiations/{message_id} endpoint's description reads:

(interpreted is misspelled by the way)

There are a few other places too such as the description of /utm_messages/{message_id} and in /operations/{gufi}

[2018-04-23 13:50] nasajoey commented on #14
Can you define "barely touching"? That will help me think and respond.

[2018-04-23 15:43] esparano commented on #14
Well I was just thinking that if two consecutive operation volumes are rectangular prisms, and they overlap in time, then having the "ending" plane of one touch the "starting" plane of the other would be okay.

Let's say there is only one spacial dimension for simplicity so I can just demonstrate. You could have two bounding volumes overlap in time but not in space:
volume 1: (x_start = 0, x_end =

[2018-04-23 15:45] nasajoey commented on #14
I see.  So there is a spatial and a temporal overlap, but the spatial overlap is 2-dimensional (in 3D space).  Does that sound like what you are getting at?  If so, I think we can indeed clean up the language in rule 3.

[2018-04-23 15:50] esparano commented on #14
Yeah, that's case 1. It's not so much an "overlap" as a shared boundary.

[2018-04-23 16:59] nasajoey commented on #14
@esparano please comment on the below.  This became a bit more involved, but I think it looks more correct.

**op_vol_rule_3a**: When ordered by ordinal values, a succeeding operation volume must have a non-zero _spatial_ intersection with its immediately preceding operation volume. (Note the intersection may be 2-dimensional in 3D space, i.e. sharing a face.  Need to discuss if the intersection c

[2018-04-23 17:14] esparano commented on #14
Looks good! I agree that a 2D spatial intersection is the minimum that allows an uninterrupted transition between consecutive volumes. It depends on your definition of "intersection" in space and time, so it's good to clarify that. Thanks!

[2018-04-24 18:02] esparano opened #24 "Operation user_id max length unspecified"
The Operation model, as seen in the USS required API /operations/{gufi} endpoint https://app.swaggerhub.com/apis/utm/uss/v3#/A.%20Required%20Endpoints/put_operations__gufi_
specifies a maxLength of 100 for the created_by field, but does not specify a maxLength for the user_id field even though these fields seem to be similar.

I would expect their maxLength to be the same unless I'm missing someth

[2018-04-24 18:05] nasajoey commented on #24
user_id field is slated for deprecation and has probably been neglected in the documentation.  Actually, I'm not clear on the future or "created_by" at this point either.  Some of these go away due to the improved authentication/authorization approach being implemented moving forward.

Thanks for the catch on this.  Please feel free to point out any of these issues.

I'm going to keep this issue o

[2018-04-25 17:32] nasajoey commented on #23
This is a known issue.  The descriptions are outdated.  The endpoints are correct.  Will leave this open until we address.  Thanks for making the note.

[2018-04-25 17:41] nasajoey commented on #15
@myspri is this an implementation issue due to some USSs not being involved in public safety testing and thus not implementing those queries?  I guess I'm asking if this is just a current implementation problem and if we would expect it to not be a big deal in the long run since each USS would be properly checked out to respond appropriately to such public safety queries.

[2018-05-15 22:49] issmith1 opened #26 "Add ‘callback’ property to UTMMessage model"
With the callback USSa has all the data needed to service a Position Report request.

Without a callback, USSa receives message PERIODIC_POSITION_REPORTS_START from USSb, but USSa must also get the callback URL by inspecting USSb’s USSInstance data ... possibly getting a cache miss and now needing to fetch from USS Discovery.

[2018-05-18 19:27] esparano opened #27 "Incorrect HTTP Status Response Code"
The USS Required API "GET /operations/{gufi}" endpoint on SwaggerHub indicates that it should return an HTTP **201** OK when it should be a **200** OK.

[2018-05-29 22:07] punamverma opened #29 "Create a GET Operator Endpoint for restrictions"
Operator should be able to query a restriction by constraint id.

[2018-05-31 20:04] nasajoey opened #30 "ConstraintMessage needs inclusion/exclusion information"
When a new Dynamic Restriction (currently described as a ConstraintMessage) goes into effect, there needs to be some information as to those operations which are affected and those which are exempted.

Should lean on existing data definitions from elsewhere in NAS to name these things appropriately.

Should be a well-defined enumeration to increase machine-to-machine comms.

[2018-05-31 22:06] nasajoey opened #31 "Close old merge requests"
We have three merge requests dangling since March.  Please reject or merge to clean off our plate.

Tagging @issmith1 for this.

[2018-05-31 22:38] #31 closed

[2018-06-01 18:54] esparano opened #32 "Invalid Default Sort for Operations"
The USS Required API "GET /operations" endpoint on SwaggerHub indicates that the "sort" parameter has a default value of "time_submitted", but "time_submitted" is not a valid field of an Operation. It seems like it should be "submit_time".

[2018-06-01 20:59] kevin-simulyze opened #33 "Interior Linear Ring for TCL4"

[2018-06-01 21:03] kevin-simulyze commented on #33
We are requesting the capability for an operations volume to have an interior hole within it.  A use case is if a priority delivery is needed within a larger volume, a hole can be cut out of the larger volume so the overall operation can continue provided the operation does not go into the hole.

[2018-06-01 22:58] nasajoey commented on #33
Appreciate the report.  Will bring it up for discussion.

Without the hole, there is still the possibility to create a series of volumes to generate a ring.  Would have to see how much more benefit is created by allowing a ring.  Will be a good discussion.

[2018-06-01 22:59] nasajoey commented on #32
Good catch.  The field names changed, but the documentation for sorting did not.  Will fix.

[2018-06-04 17:23] esparano opened #34 "Operation Sorting Description"
I have a few questions about sorting operations, so I figured I'd make an issue in case the documentation needs to be cleared up.

The USS Required API "GET /operations" endpoint on SwaggerHub indicates that the "sort" parameter can be "A valid field name to use for sorting records".

1) If you're sorting by a non-required field such as "last_lun_update_time", some operations may not have a value

[2018-06-05 17:32] esparano opened #35 "Example Model Inconsistencies"
A couple small inconsistencies in the models from the USS Required API:

1) UasRegistration registration_id should be a UUID, not "string"
2) A ContingencyPlan's"valid_time_end" should be a time after "valid_time_begin", not equal to it
3) NegotiationMessage "message_id", "gufi_of_originator", "gufi_of_receiver", and "reference_message_ids" should be UUIDs, not "string"

[2018-06-06 20:29] nasajoey commented on #27
Made the fix in v4-draft branch.  To be merged in future to master.

[2018-06-06 20:29] #27 closed

[2018-06-06 20:32] nasajoey opened #36 "Need descriptive file names for OpenAPI files"
Currently many of our API files are named "swagger.yaml" which is an artifact of the way we used to export from SwaggerHub.  We relied on the directory name to let us know which file it actually was.  The file name should be descriptive of its contents.

Eliminate all 'generic' file names.

[2018-06-06 20:32] nasajoey commented on #36
Happy to hear input on this issue.

[2018-06-06 20:33] nasajoey commented on #29
so this is for the NUSS client side API, not the USS spec.  Does that sound right?

[2018-06-06 20:41] nasajoey commented on #26
Added.  If it needs any more work either re-open or file another issue.

[2018-06-06 20:41] #26 closed

[2018-06-06 21:04] punamverma commented on #29
Yes, this issue was created for operator to be able to GET the constraints from a USS. Prima mentioned CONSTRAINT_MANAGER will also need to GET the constraints that it PUTs. Not sure if they need to be separate endpoints for an operator and for CONSTRAINT_MANAGER.

[2018-06-06 21:06] punamverma opened #37 "ConstraintMessage - constraint_geography should be a required field"

[2018-06-06 21:10] nasajoey commented on #37
Done.

[2018-06-06 21:10] #37 closed

[2018-06-06 21:17] nasajoey commented on #23
Cleaning house.  Fixed the ones I found in the USS API.  If this issue exists in other APIs, either re-open or start a new issue.

[2018-06-06 21:17] #23 closed

[2018-06-06 21:18] nasajoey commented on #22
You are understanding.  Maybe a little too well.

[2018-06-06 21:21] nasajoey commented on #22
Single fix in the commons domain.  Updated end time example to be after begin time.

[2018-06-06 21:21] #22 closed

[2018-06-06 21:47] nasajoey commented on #13
I'm leaning toward the geojson.  We provide URL-safe examples of the reference point being a geojson point (2D).

Also preferring this solution since the discovery API might be a candidate for a general overhaul.

[2018-06-06 21:49] nasajoey commented on #13
Done unless anyone yells loudly enough.

[2018-06-06 21:49] #13 closed

[2018-06-06 21:51] nasajoey commented on #19
Closing this as "done" given that I got a single thumbs up on my previous comment.  The comment will be law.  Will have to be documented in USS Spec as this is tricky to fully describe just in API documentation.

[2018-06-06 21:51] #19 closed

[2018-06-06 22:39] nasajoey commented on #18
Going with option 2 for REST philosophy reasons that I will not detail here.

[2018-06-06 23:04] nasajoey commented on #18
Updated descriptions on 5 endpoints to note that validation required between the path param and the supplied data in the body.

[2018-06-06 23:04] #18 closed

[2018-06-06 23:05] nasajoey opened #38 "Polygon coordinate array min/max wrong"
Looks like polygon coordinate should be min and max number of elements equal to 2, but currently 1.

Why was this OK with everyone for so long?  Am I missing something?

[2018-06-06 23:08] #38 closed

[2018-06-07 05:09] nasajoey commented on #35
Going to close.  For 1 & 3 in your list, the type is "string" and the format is "uuid" as per OpenAPI spec.  For 2, I think I hit that in another issue already.

Please correct me if I'm mistaken on any of this.

[2018-06-07 05:09] #35 closed

[2018-06-07 05:10] nasajoey commented on #21
@myspri , @punamverma , @issmith1 :  Can any of you comment on this?  Is user_id needed or can I remove?

[2018-06-07 05:11] nasajoey commented on #24
@punamverma , @issmith1 , @myspri :  can you comment on this one?  I think we should be removing user_id and created_by.  Is there some use that I am forgetting?  Some dependency that makes this a bad idea?

[2018-06-07 05:12] nasajoey commented on #33
Note that this led to the filing of Issue #38 .

[2018-06-07 05:14] nasajoey commented on #34
@drsmit22 assigned this to the two of us.  We can discuss offline or here.

[2018-06-07 05:14] nasajoey commented on #32
Linking with Issue #34 .

[2018-06-07 05:15] nasajoey commented on #32
@drsmit22 , assigning the two of us to this.

[2018-06-07 05:17] nasajoey commented on #10
@issmith1 Is this still needed?  Assuming we'll need metadata for TCL4, but need to discuss.

[2018-06-07 13:36] nasajoey commented on #14
I think that op_vol_rule_3c replaces op_vol_rule_4.

[2018-06-07 13:42] nasajoey commented on #14
Will open separate ticket to track values of M and T (max bounding box edge length and max operation duration, respectively).

[2018-06-07 13:45] nasajoey opened #39 "Max bounding box edge length and max operation duration"
Based on Issue #14:

What is a reasonable value for the max bounding box edge length for a single operation volume?

What is a reasonable value for an operation's maximum duration?

Should we even have such limits?

How does dynamic replanning affect these values (e.g. replanning an active operation to increase duration)?

Please comment below.

[2018-06-07 13:46] nasajoey commented on #14
Going with this Operation.operation_volumes description:

      operation_volumes:
        description: >-
          The actual geographical information for the operation.

          A note on "intersection":
            Note 2: All of the terms "crosses", "within", "touches" imply
            intersection. I can track down a source for this definition
            (probably OGC), but for now, you

[2018-06-07 13:50] nasajoey commented on #14
Closing.  Not 100% confident the current descriptions are bug-free, but they are more complete than previously defined.  Suggest opening new issues as needed to address any changes/additions.  See Issue #39 for further discussion on some parameters that are TBD.

[2018-06-07 13:50] #14 closed

[2018-06-07 13:51] nasajoey commented on #11
Internal emails circulating on this topic.  If any external folks have ideas/comments, now is a good time and here is a good place.

[2018-06-07 15:03] nasajoey opened #40 "Document requirement to only allow announcement/mod of your ops data"
Currently, there is not explicit documentation on restricting USSs to only update their own operational data.  For example:

1. USS_1 gets a valid access_token to communicate operation data with other USSs.
2. USS_1 gets a data for operation_alpha from USS_2.
3. USS_1 uses access_token and information known about operation_alpha data to submit updates (including messages and positions) to other US

[2018-06-07 17:33] esparano commented on #35
"string" is fine, but many other example models do put a real UUID like "00000000-4444-8888-FEEDDEADBEEF" for fields that are "uuid" strings. It seemed inconsistent across models and even within the same model, and when I tried copy-pasting the example request and using it in our system, it failed multiple validation checks for that reason. Not a huge deal though, so up to you guys whether you wan

[2018-06-07 18:41] nasajoey commented on #35
If the model is wrong, we should fix.  I haven't caught any of the inconsistencies you mention, but that doesn't mean they aren't there.

The goal is to follow OpenAPI spec 2.0 which has this guidance (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md):

[2018-06-07 20:08] punamverma commented on #24
@nasajoey: I am not sure about the need for these two fields, but I do see that operator operation has both of these fields, could have been carried over from there. From operator api, I found this -

created_by | stringThe user that created the operation. It is possible that an operation is created on behalf of an operator by, say, a manager. Nominally, this field will be equal to user_id.
-- | -

[2018-06-07 20:09] nasajoey commented on #21
Based on discussions within NASA software team, eliminating both user_id and created_by.

[2018-06-07 20:11] #21 closed

[2018-06-07 20:12] nasajoey commented on #24
Eliminated both fields, created_by and user_id from Operation model.

[2018-06-07 20:12] #24 closed

[2018-06-07 20:13] nasajoey opened #41 "Define which attributes are accessible to anonymous users/authenticated users."
Define which attributes are accessible to anonymous users/authenticated users.

[2018-06-07 20:13] nasajoey commented on #41
This an issue from our internal tracking, moving here for visibility.

[2018-06-07 20:14] nasajoey commented on #41
Previous suggestion noted only internally before:

i may suggest a "vendor extension" to provide these data in a standardized way.  Will have to think of a good name, but will be something like a data member with name 'x-utm-data-accessibility' with some enum for values.

[2018-06-07 20:30] nasajoey commented on #41
so, something like this I think:

[code]
Any thoughts on this approach?  Seems better than embedding in a comment field.

[2018-06-07 20:48] esparano commented on #35
Ah sorry if I wasn't clear. The model is correct, but some examples seem inconsistent. For example,
![image](https://user-images.githubusercontent.com/3947139/41125407-6002b396-6a72-11e8-8b0c-eb6a2d99e003.png)
versus the example:
![image](https://user-images.githubusercontent.com/3947139/41125447-7b909970-6a72-11e8-861a-a28f789618aa.png)
One "uuid" field is "string", and the other is "00000000-444

[2018-06-07 20:53] nasajoey commented on #35
Ah, I see.  I think this is default behavior of the swagger tools.  Probably what is happening is that there is not actually an explicit example for that data field (message_id) and the tool puts in "string" for the value when trying to complete an example instance.

OK, so the ticket should actually be "ensure there is a reasonable example for data fields".

[2018-06-07 20:56] esparano commented on #35
Oh okay, that makes sense. I wasn't aware of how the Swagger tools work. Yeah, that would have been a better title.

[2018-06-11 20:42] myspri commented on #38
Are we going to allow more volumes for operations those that are of type TBOV?

[2018-06-12 12:36] nasajoey commented on #38
As of now, there is not a need/requirement for varying the max number of volumes for any reason.  We'll see if that changes... I do agree that you'll probably have more volumes when exercising TBOVs.

[2018-06-12 13:44] nasajoey opened #42 "timestamp max length should be 24?"
All timestamps currently have a maxLength of 25.  Recounting, it seems like 24 is correct value since we allow at most ms precision.

Looking for confirmation from anyone else before making mass change to all timestamps.  Counting is not my strong suit.

[2018-06-12 13:55] nasajoey opened #43 "uas_registrations need maxItems"
Currently uas_registrations uses maxLength, this is a bug.  The intent is to indicate the maxItems.  Likewise for min.

[2018-06-12 14:43] nasajoey opened #44 "add max and min for ordinal"
Ordinal is unbounded currently.

[2018-06-12 15:06] nasajoey opened #45 "bounds for alt fields"
currently the altitude fields in various models are unbounded.  consider adding appropriate bounds for sanity checking.  be careful of bounding too tightly for all use cases.

[2018-06-12 15:10] nasajoey opened #46 "add required fields for geojson"
currently geojson models have no required fields.  I think "coordinates" is required.  check RFC and update models.

[2018-06-12 15:19] myspri opened #47 "Query instances from USS-Disc returns only 10 instances by default"
During startup, USSs are expected to query Disc to make their LUN.
By returning only 10 instances by default, USSs might miss the rest that could potentially be in the LUN.

This was one of the problems that we identified during TCL3 checkout.

[2018-06-12 15:24] nasajoey commented on #47
Understood.  Will hold off on Disc discussions for a couple weeks.  Keeping open until then at least.

[2018-06-12 16:16] nasajoey opened #48 "air_speed_source should be enum"
make enum.  likely values MEASURED, ESTIMATED, OTHER.

[2018-06-12 17:02] #48 closed

[2018-06-12 18:23] #46 closed

[2018-06-12 18:27] #44 closed

[2018-06-12 22:37] #43 closed

[2018-06-12 22:44] #32 closed

[2018-06-12 22:45] nasajoey commented on #33
Updated API to explicitly exclude internal linear rings just for clarity.  Still want to discuss with USS implementers.

[2018-06-13 16:02] nasajoey opened #49 "Clean up altitudes to better conform to FIXM and increase extensibility"
When we provide alt data, we currently wrap up altitude, units, and reference system into the field name (altitude_wgs84_ft).  FIXM and AIXM break these up to allow more flexibility.  To increase interoperability and reuse, break out altitude model and reference when necessary from other models.

The altitude model might be:
altitude_value (double with some extreme bounds)
source (enum with only o

[2018-06-13 16:07] nasajoey commented on #49
for reference:

Vertical Distance ref:  https://www.fixm.aero/releases/FIXM-4.1.0/doc/schema_documentation_core/Measures_xsd.html#VerticalDistanceType

Units of measure: https://www.fixm.aero/releases/FIXM-4.1.0/doc/schema_documentation_core/UnitsOfMeasure_xsd.html#UomHeightType

[2018-06-13 21:18] nasajoey commented on #49
This change is a little bigger than the other v4-draft changes I think.  I may start a separate branch and we can ease it in later.

[2018-06-14 00:12] nasajoey commented on #29
OK, back on this one.  Will try to address tomorrow morning.

[2018-06-14 12:44] nasajoey opened #50 "Align headings with FIXM"
NOTE: this is a semi-retroactive issue request as some of this was already done and checked in.  Wanted an issue to point to for reference.

Currently there are two fields for heading in the Position model: track_magnetic_north_deg, track_true_north_deg.

This is counter-intuitive and does not align with FIXM.

See for example:
https://www.fixm.aero/releases/FIXM-4.1.0/doc/schema_documentation_cor

[2018-06-14 13:35] #50 closed

[2018-06-14 13:52] nasajoey commented on #45
Choosing bounds is harder than it sounds.  Want to be inclusive of use cases where UAS operate below sea level (Death Valley, Dead Sea, deep cave, etc.) and want the model to be usable for other domains in the future (High-E, space?).  Maybe thinking too much on this.  will probably go with -6000.0 to 100000.0.  Recall the units are feet.  Letting this simmer a little longer.

[2018-06-14 17:07] nasajoey opened #51 "sent_time in UTMMessage should be time_sent"
Harmonize field names.  Position uses "time_sent".  Prefer following the pattern "time_*" so changing UTMMessage.sent_time accordingly.

[2018-06-14 17:13] #51 closed

[2018-06-15 22:17] ktian94 opened #52 "Remove resource field in UTMRestResponse"
The NASA USS does not consume the resource field in UTMRestResponse nor has it been used in testing events. Can we remove it from the spec?

[2018-06-15 23:34] myspri commented on #52
Here is a sample 400 error message
{
  "http_status_code": "400",
  "message": "Error message",
  "resource": "/resource/683c0e9e-49dc-44ce-82de-a5723b1f6965"
}

[2018-06-18 14:54] nasajoey commented on #52
There was an original intent with this field.  It was supposed to point the caller to something.  Do you recall why we added this in the first place?

[2018-06-18 15:12] nasajoey commented on #45
Addressed in #49 by breaking Altitude into its own model with a few fields.  Bounds added there.  Currently just in its own branch (issue-49-altitude-model) pending further discussion.

[2018-06-18 15:12] #45 closed

[2018-06-18 15:14] nasajoey commented on #42
@issmith1 , @myspri , @punamverma , @sjurcak can you comment on this issue?  I need a sanity check.

[2018-06-18 15:18] nasajoey commented on #40
Note that this security issue exists in both the push and pull approaches to USS Discovery.  The fix may vary based on discovery approach.

[2018-06-18 15:20] nasajoey commented on #12
Probably track NUSS enhancements in utm-dev rather than utm-apis due to public visibility.  @issmith1  please duplicate this issue if still needed internally on Jira or over on utm-dev.

[2018-06-18 15:20] #12 closed

[2018-06-18 15:24] #10 closed

[2018-06-18 16:59] punamverma commented on #42
@nasajoey you are right maxlength can be made 24.

[2018-06-18 20:04] nasajoey commented on #42
Thanks @punamverma , made the change.  Closing.

[2018-06-18 20:04] #42 closed

[2018-06-18 21:03] ktian94 opened #53 "Is "registration_id" required or optional in uss-api /operations endpoint"
The "required" field isn't specified [here](https://github.com/nasa/utm-apis/blob/v4-draft/uss-api/swagger.yaml#L319).

Side note: can we assume a parameter is required or not by default if it's not specified? Or should it always be specified?

[2018-06-18 21:46] nasajoey opened #54 "The Swagger contingency plan description does not contain any required fields."
Designate appropriate fields as required.

[2018-06-18 21:50] #54 closed

[2018-06-18 22:03] ktian94 commented on #53
Sounds reasonable to me. Thanks @nasajoey!

[2018-06-18 22:03] #53 closed

[2018-06-19 13:33] nasajoey commented on #30
Closing, but expecting further discussions.  New issues can be opened or this one re-opened as discussions evolve.

[2018-06-19 13:33] #30 closed

[2018-06-19 13:36] nasajoey commented on #52
Was this in place back with "UTM Core" would create your GUFI for an operator directly?  The 'resource' was a convenience for the operator's client system to easily build request for the new operation.  If this history sounds correct, I agree that it can be removed.  Will wait for confirmation from @myspri , @drsmit22 , or @issmith1 .

[2018-06-19 14:10] nasajoey commented on #29
OK, @punamverma please take a look at this commit.  Is this a reasonable approach?  Just copied the old manager_constraint endpoints and updated to point to correct model and renamed.  There is a swagger problem pointing to an external domain, so I need help with that.  I think you know how to fix that?

`Error resolving $ref pointer "https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-do

[2018-06-19 14:17] myspri commented on #52
Yes, it can be removed.

[2018-06-19 14:18] myspri commented on #52
Yes, it can be removed.

[2018-06-19 14:29] myspri commented on #52
Yes, both will be needed. Helps the caller know details about the exception

[2018-06-19 14:35] nasajoey commented on #52
@ktian94 thanks for the report.  pushed change to v4-draft branch.  re-open or open a new one if I missed something.

[2018-06-19 14:35] #52 closed

[2018-06-19 14:36] myspri opened #55 "FIMS like to get details on all/a restriction that was placed by this pub-safety USS"
An authoritative user might like to get historical details about a restriction.
They would like to query a specific pub-safety USS for details.

Pub-safety USS needs to implement GET /restriction & /restriction/{restriction_id}

[2018-06-19 19:12] nasajoey opened #56 "Break out contact info into its own model"
Contact information is re-used in several places.  Should standardize into its own model.

[2018-06-19 23:10] punamverma commented on #29
@nasajoey The Constraint message is under utm-domain-commons.yaml

https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/ConstraintMessage

I guess thats what you wanted to be resolved. Pleas let me know. Thanks

[2018-06-20 18:28] punamverma commented on #29
@nasajoey I committed the correct link for ConstraintMessage.
However, I was wondering if we need a POST /restrictions for operator. I think he just needs to GET. For PUT we have an endpoint for Constraint Manager in Public Safety spec.

[2018-06-21 23:55] boguwei opened #57 "Clarification on last_lun_update_time field requirement"
Three questions regarding the `last_lun_update_time` field of the `Operation` model

1. The description states that "this field MUST reflect the time the update was provided". Does this mean that this field is a required field for the Operation? It is not in the `required` properties section. (ref: [file here](https://github.com/nasa/utm-apis/blob/cf4211d5d8119813aca17d87a8e97f5afbe7768c/utm-domai

[2018-06-25 19:13] punamverma opened #58 "v4 - track_bearing field to be made 'required'"
The following properties of Position model to be made 'required'.
track_bearing
track_bearing_reference
track_bearing_uom

[2018-06-28 14:12] nasajoey opened #59 "Update speed fields for FIXM compatability"
Currently the only speed in our models is in the Position model.  We have used "track_ground_speed_kn" and "air_speed_track_kn".  The former is a required field and the latter has been optional.  This should be decomposed much like our altitude and bearing elements.

Proposing two fields:

- track_ground_speed (double)
- track_ground_speed_units (enum)

We'd restrict track_ground_speed_units to be

[2018-06-28 15:13] nasajoey commented on #59
reference: https://www.fixm.aero/releases/US_Ext-4.2.0/doc/schema_documentation_us_extension/UnitsOfMeasure_xsd.html#UomGroundSpeedType

[2018-06-28 20:55] ktian94 opened #61 "time_available_end requirement for put operation"
In the uss api spec for [PUT operation](https://github.com/nasa/utm-apis/blob/26bfad924ae9a902cea03c61c6a807fe57645762/uss-api/swagger.yaml#L506), it mentions that the time_available_end should be in the future. Could we get clarification on this as there's no time_available_end field in operation? Should this refer to effective_time_begin and effective_time_end for operation volumes?

[2018-06-28 22:23] mcelhennyi opened #62 "ConstraintMessage::permitted_guifs length says 0-100 for each gufi"
The ConstraintMessage::permitted_guifs length says 0-100 for each gufi, is this correct or should it be 36 instead like other gufis?

[2018-06-28 23:10] nasajoey commented on #62
Good catch.  this should be minItems/maxItems and should be describing the array, not the individual GUFIs.  the indenting is off as well as the label names.  Will fix after Sprint 0.

[2018-06-28 23:11] nasajoey commented on #62
just making a note for myself:  would also want to add the appropriate constraints for the gufis

[2018-06-29 16:30] myspri commented on #61
It could be that you are referring to an older version of the API
Please use this
https://github.com/nasa/utm-apis/blob/v4-draft/uss-api/swagger.yaml or the corresponding tagged version.

 effective_time_begin and effective_time_end should be related to operation volumes.

[2018-06-29 17:51] myspri commented on #61
@nasajoey, the description in L522 in the Swagger needs to be updated.

[2018-06-29 17:57] myspri commented on #61
Posting on behalf of @ktian94
"Are we supposed to validate that both are in the future for every operation volume when an operation is first constructed?"

[2018-07-03 00:40] boguwei opened #63 "Specification around maximum op volume dimensions and time"
The model requirements specify a maximum dimension and time duration for each operation volume (see [here](https://github.com/nasa/utm-apis/blob/02f4b8b62b5f7c3f07554587ec6e50e098f1c4c9/utm-domains/utm-domain-commons.yaml#L340)). Have these been finalized with specific numbers yet? (asking for TCL4 verification purposes).

[2018-07-03 02:41] nasajoey commented on #63
Good question.  Has not been discussed.  I'd say we pick something for now.  6000 ft?  A little less than 1nmi.

[2018-07-03 14:32] boguwei commented on #63
@nasajoey sounds like a good number to start with for now. I can put in 6000ft for validation purposes. Any idea on maximum time duration?

[2018-07-03 18:45] esparano opened #64 "Model Examples Broken on SwaggerHub"
The example models for the new V4 endpoints seem to be broken.

https://app.swaggerhub.com/apis/utm/uss/v4#/A.%20Required%20Endpoints/put_constraints__message_id_

![image](https://user-images.githubusercontent.com/3947139/42238677-ad14b578-7ecf-11e8-9e7d-9a3730b67721.png)

V3 looked like this for reference:

![image](https://user-images.githubusercontent.com/3947139/42238711-cb2c9a94-7ecf-11e8-8c

[2018-07-03 18:53] esparano opened #65 "Valid Null JSON Field Format?"
Forgive me if this was specified somewhere, but what is the correct way to represent null fields or empty arrays in JSON? I've seen it represented a few different ways.

For example, say an operation has no contingency plans. Would the operation look like this:

[code]

like this:

[code]

or like this?:

[code]

I'm handling all three on my end just in case, but which way should we _produce_ JSON

[2018-07-03 19:46] boguwei commented on #63
@nasajoey follow up question to the first question: what level of precision are we talking about? i.e. what is the minimum number of significant figures acceptable?

[2018-07-03 20:04] nasajoey commented on #63
I suggest that being a separate issue for discussion as it may have broader implications.

[2018-07-03 20:05] boguwei commented on #63
with respect to which point? the precision or the time duration or both?

[2018-07-03 20:19] nasajoey commented on #62
Closing.  If still buggy, please reopen with details.

[2018-07-03 20:38] nasajoey commented on #59
Did it.  Please reopen if buggy.

[2018-07-03 20:38] #59 closed

[2018-07-03 20:41] nasajoey commented on #64
To summarize for my understanding, this is a swaggerhub bug/issue and not a UTM bug.  Correct?

[2018-07-03 20:42] #62 closed

[2018-07-03 20:43] nasajoey commented on #63
precision should be its own issue.  will try to address duration here at some point.

[2018-07-03 22:01] esparano commented on #64
Yeah it's not a very high priority, but it seems to have been fixed already! You guys are fast.

[2018-07-03 22:04] esparano opened #66 "PUT ConstraintMessage Endpoint Inconsistencies"
https://app.swaggerhub.com/apis/utm/uss/v4#/A.%20Required%20Endpoints/put_constraints__message_id_
1) It should read "ConstraintMessage.message_id", not "UTMMessage.message_id" in the description.
2) The example has a "gufi" instead of a "message_id". Edit: To clarify, the model says it should be "message_id".
![image](https://user-images.githubusercontent.com/3947139/42246636-562a1cfa-7eeb-11e8-8

[2018-07-04 02:04] issmith1 commented on #64
Swagger hub yes.

[2018-07-05 15:54] esparano opened #67 "Constraint Message OriginatorId question"
![image](https://user-images.githubusercontent.com/3947139/42333798-adf539ec-8049-11e8-9c22-dfb78dbe4912.png)

Does uss_id refer to "uss_instance_id" from the UssInstance model?

[2018-07-05 16:01] esparano opened #68 "UssInstance Name MaxLength Inconsistency"
A UssInstance's uss_name may be up to 250 characters,
![image](https://user-images.githubusercontent.com/3947139/42334351-12c7110a-804b-11e8-8c25-44ea54b61068.png)

but a NegotiationMessage's origin_uss_name has a limit of 100 characters.
![image](https://user-images.githubusercontent.com/3947139/42334326-051f94e6-804b-11e8-802d-4a6c77fc6073.png)

[2018-07-05 18:43] esparano opened #69 "NegotiationMessage.message_id should be a required field"
Currently it's not a required field:
![image](https://user-images.githubusercontent.com/3947139/42341623-ad11df18-8061-11e8-99e7-9ae30aed2f28.png)

[2018-07-05 23:12] ktian94 commented on #61
Is there any update here? Is it a requirement that for every new operations created, every operation volume's effective_time_begin and effective_time_end should be in the future?

Just want to make sure in case this is in your Sprint 0 testing plan :)

[2018-07-06 00:01] nasajoey commented on #61
Due to the fact that we haven't finalized a time synchronization spec for USSs, we've relaxed the "in the future" requirement for now.  We've seen operational problems when servers between orgs are not time synched so each server's view of what is in the future and what is in the past caused plan rejections.  So, long story only slightly longer, no requirement on "future", but please don't activel

[2018-07-06 15:01] esparano opened #70 "PUT vs POST consistency"
There are a couple instances of "POST" that slipped through.

1) The Position model's "gufi" property has the description "Required upon POSTing a new position."

2) The PriorityElements model's priority_status description

3) UssInstance.uss_base_callback_url description

[2018-07-06 15:09] esparano opened #71 "Position model time validation"
The Position model states that "time_measured < time_sent MUST be true". Given up to millisecond accuracy, should it be <= instead of strictly less than?

[2018-07-06 18:51] rstrauss-logyx opened #72 "utm-domain-commons: 3 typos"
utm-domains/utm-domain-commons.yaml

Looking at the changes from v3 to v4:
1
/ -          accepted.
/ +          accepted.  effective_time_begin < effective_time_begin MUST be true.

The second “begin” should be “end”

2
Mistake is repeated 13 lines down

3
In contingency_response, there’s an ambiguous sentence fragment:
/ +          4. OTHER
/ +            Additional details should be provided in

[2018-07-06 18:53] rstrauss-logyx opened #73 "uss-api/swagger.yaml: small v4 typo"
In:  uss-api/swagger.yaml
The first 'e' should be removed in this v3 -> v4 change:

/ +        For valiedation purposes:

[2018-07-06 19:32] esparano opened #74 "Position Model typo"
![image](https://user-images.githubusercontent.com/3947139/42396931-d2d8f8d2-8131-11e8-823d-c301465bfc41.png)

[2018-07-06 22:50] #73 closed

[2018-07-06 22:50] issmith1 commented on #73
84c5351..334efb9  v4-draft-sprint1 -> v4-draft-sprint1

[2018-07-07 03:07] issmith1 commented on #64
Fixed via one or both changes: link maintenance within utm-commons, or (likely) swaggerhub site update. Swaggerhub sports v4-draft tip now.

[2018-07-07 03:07] #64 closed

[2018-07-07 03:28] #74 closed

[2018-07-07 03:32] #72 closed

[2018-07-07 03:35] nasajoey commented on #71
would love to get one or two more perspectives on this.  Is it feasible/reasonable to have the measurement occur and be sent in the same millisecond?  I'm willing to believe the crowd.

[2018-07-07 03:38] #70 closed

[2018-07-07 03:42] nasajoey commented on #65
These are all valid per JSON spec.  However, the may be interpreted differently by systems.  We can note best practices for UTM.  My initial gut feeling is that we shouldn't send nulls.  Those are interpreted (I think) as if the key was not even sent.  Assuming that is true, you just shouldn't send it.  If you send an empty array, that is understood as the array being sent and not having any value

[2018-07-07 03:43] nasajoey commented on #65
This isn't documented anywhere at the moment and really has never been discussed.

[2018-07-07 03:44] nasajoey commented on #63
let's call duration max at 2 hours.  I don't really know why and wouldn't proffer that for the operational system without discussion.

[2018-07-07 03:49] nasajoey commented on #63
closing for now.  but should note to have this discussion in the future.

[2018-07-07 03:49] #63 closed

[2018-07-07 03:51] #58 closed

[2018-07-07 05:07] nasajoey commented on #49
merged alt branch into v4-draft-sprint1.  Might as well go through the pain of model updates now rather than later.

[2018-07-07 06:07] nasajoey commented on #39
Addressed temporarily #63 .

[2018-07-07 07:29] esparano commented on #65
I agree that sending less is better where possible, so your suggestions make sense to me. I'd like input from others if they have an opinion about it, though!

[2018-07-07 07:37] esparano commented on #71
It seems as though datetimes may have up to millisecond precision, but they may be sent with as little as one second precision (that's why datetimes can have between 20 and 24 characters, right?...), so in that case I'd definitely say that they could be equal. If not, then as you said we have to figure out whether it's possible that they're the same millisecond.

[2018-07-07 17:29] nasajoey commented on #66
Thanks.  I think fixed in v4-draft-dev branch.  To be merged into v4-draft next sprint.

[2018-07-07 17:31] #66 closed

[2018-07-07 17:32] nasajoey commented on #57
Going to relax on this one until discovery in general is further discussed.

[2018-07-08 14:57] nasajoey commented on #56
For reference:

[code]

[2018-07-08 14:57] nasajoey commented on #56
Haven't used this model within any other as of yet.  Would like more eyes on it and discuss impact with implementers.

[2018-07-08 15:00] nasajoey commented on #67
I'm going to close this one.  I think the description is about as good as I can make it.  As to the original question, the authorization server doesn't know anything about USS Instances, so it really does mean that we are looking for the name that USSs use to get tokens from the auth server.

[2018-07-08 15:00] #67 closed

[2018-07-08 15:03] nasajoey commented on #61
Going to close this one out.

[2018-07-08 15:03] #61 closed

[2018-07-08 15:07] nasajoey commented on #49
For reference:

[code]

[2018-07-08 15:07] nasajoey commented on #49
Haven't used this new model in any existing models yet.

[2018-07-09 12:31] nasajoey opened #75 "Relax base path requirement ('/uss')"
We should be able to allow an empty base path rather than requiring the /uss for everyone.  API docs need to be updated to reflect this.

[2018-07-09 19:16] esparano commented on #71
Yeah. I guess those are two separate questions. Whether time_measured and time_sent can be in the same millisecond, and if not, whether second-precision should be allowed for position updates. Let's see if others have some input on this.

[2018-07-10 04:05] nasajoey commented on #36
@issmith1 , @myspri , @punamverma , @sjurcak : How much would break if I changed file names as described above?

[2018-07-10 05:10] nasajoey commented on #34
@esparano , let me know what you think of these two commits.  I think I hit everything.

[2018-07-10 05:10] #34 closed

[2018-07-10 05:13] nasajoey commented on #75
Please let me know if this destroys anything.

[2018-07-10 05:13] #75 closed

[2018-07-10 17:12] esparano opened #76 "OperationVolume ActualTime constraint"
The TCL4 Validation checklist shows that OperationVolume models will be checked for "actual_time_end > effective_time_begin (when actual_time_end is not null)", but this is not listed in the docs as far as I can tell.
Perhaps add the constraint to OperationVolume.actual_time_end?
![image](https://user-images.githubusercontent.com/3947139/42525681-cad8e21a-8441-11e8-989b-ae091d074f21.png)

[2018-07-10 17:15] esparano commented on #34
I'm still unclear on what the "most significant field" means for a UUID. Are you saying to compare the given UUID basically as a simple string, left to right, 1 letter/digit at a time, until a difference is found? Here's a snippet from Wikipedia detailing what I was getting at earlier:
![image](https://user-images.githubusercontent.com/3947139/42526208-33095030-8443-11e8-99a4-abd58af029d6.png)

[2018-07-10 17:20] esparano commented on #34
I think everything else looks good. Question 1 seems to be irrelevant now because the fields that can be sorted on happen to be required.

[2018-07-10 22:50] rstrauss-logyx opened #77 "OriginatorIds have different max length"
FYI:  In the USS API, the Originator_id has different max lengths:
For constraint, it's 100
For utm_messages, it's 250

[2018-07-10 23:30] ktian94 opened #78 "JSON Parsing Strictness of Numbers and Bool"
Opening this issue for tracking future discussion:

How strict should our JSON parsers treat fields encoded as strings that could represent other types? For example, if we receive the JSON object ("altitude": "200.0"} and we're expecting the altitude field to be a double, should we reject with 400 or accept the data? Likewise, if we receive the JSON object {"isRogue": "true"} and we're expecting t

[2018-07-11 00:43] rstrauss-logyx opened #79 "operation contact name and phone can be empty strings, tho required"
In the Put Operations
primary_contact_name and phone are required, so null is an error.
But there's no minimum length so they can be left out, as empty strings.
I suggest making phone be a minimum of 10 chars.
I'd make name be a minimum of 5.

[2018-07-11 01:19] nasajoey commented on #79
Will be addressed as part of #56 .  The fields you reference are soon to be retired, so let's ensure the updated contact spec is solid... you'll see at least one commit on that branch headed that direction.

[2018-07-11 05:30] #76 closed

[2018-07-11 13:52] nasajoey opened #80 "FIMS Authz models not consistent with documentation"
access_token model has some flaws:

- remove nbf
- add iat
- remove expires_in

AA Document has flaw:

- add scope to example

There may be other discrepancies, but this list will get us started.

[2018-07-12 20:20] rstrauss-logyx opened #81 "Only allow time/date of length 24, must have milliseconds"
This would be easier to validate and accept.

[2018-07-17 13:41] nasajoey commented on #81
will add 'pattern' to make this even more solid:

^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]{3})?(Z)$

[2018-07-17 14:11] nasajoey commented on #81
update regex to require ms (fractional seconds non-optional):

^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(.[0-9]{3})(Z)$

[2018-07-17 14:12] nasajoey commented on #81
This site was helpful for this task:  https://www.regextester.com/94925

[2018-07-17 15:42] myspri opened #82 "Disprepancy between utm-role.yml and uss-api Swagger.yml"
USS-BASIC scope defines the following scopes
  - utm.nasa.gov_write.operation
  - utm.nasa.gov_write.message
  - utm.nasa.gov_read.constraint
  - utm.nasa.gov_read_uvin
  - utm.nasa.gov_write.conflictmanagement

However GET /operations defines utm.nasa.gov_read.operation.
https://github.com/nasa/utm-apis/blob/v4-draft/uss-api/swagger.yaml

Instead, GET /operation/* needs to be protected using utm.

[2018-07-17 17:49] nasajoey opened #83 "Polygon number of coords"
Currently we have the wrong number of minItems for Polygon coords (3).  It should be 4.  This is in the geojson domain.  It has trickled into our validation spreadsheet which should also be updated.

[2018-07-17 18:58] rstrauss-logyx commented on #39
Based on our discussions, Joey,
- 6000 feet is the maximum length of a bounding box side
- 2 hours is the maximum duration of a flight

These are reflected in lines 15 & 16 of the spreadsheet [TCL4 USS Dev: Strict Validation](https://docs.google.com/spreadsheets/d/1TJu4O9CI3BUXc_tGfcMTPYBzs0flSHQVwO5gYMmRRDQ)

[2018-07-17 19:06] nasajoey commented on #33
Many of our decisions are legacy decisions.  We began in 2014-2015 building up the data model and actually allowed more flexibility in things like timestamps in the past.  The increased freedom caused more problems than they solved in terms of interoperability.  We found it was more sane to offer specific bounds on the underlying specs to ensure everyone was on the same page.

ISO8601 leaves a lot

[2018-07-17 19:34] #83 closed

[2018-07-17 19:41] nasajoey commented on #81
This will probably generate discussion, but closing for now. Expecting comments.

[2018-07-17 19:41] #81 closed

[2018-07-17 19:42] nasajoey commented on #71
See #81 for some progress(?) here.

[2018-07-17 20:32] nasajoey commented on #55
@myspri and @issmith1 and @punamverma : I'm requesting informal review of the previous commit.  Please note any issues in this ticket.

[2018-07-17 20:37] nasajoey commented on #47
Fixing this even though discovery may be changing.  Want to clear out issues.

[2018-07-17 20:37] #47 closed

[2018-07-17 20:38] nasajoey commented on #29
@punamverma is this still a question?  I don't think operator will be POSTing restrictions, unless I am misunderstanding need/use case.

[2018-07-18 14:36] jfisherge opened #84 "Operation EventMetadata: Now Required?"
One of the changes from TCL3 to TCl4 APIs is the requirement to have an ```EventMetadata``` object always sent/received within each ```Operation```. I'm curious as to why this specific property is now a requirement. My understanding based on the ```EventMetadata``` object model properties (e.g. testCard, testType, testSetting, isDataCollection, etc.) is that this model is for TCL-specific tests. R

[2018-07-18 19:36] nasajoey commented on #84
They are indeed testing specific data in the EventMetadata model.  In TCL3 we had this as "optional" in the API since it doesn't represent data that are going to be in the future system, but were "required" for testing.  This was confusing as some implementers didn't implement due to the API documentation, and that caused problems for data collection.

So, yes it is required to implement and test.

[2018-07-19 19:07] ktian94 commented on #78
We've updated our service to be strict, as we've found that once you do allow leniency, there's a whole discussion on what's acceptable and what's not.

[2018-07-19 22:23] ktian94 opened #85 "Update contingency_id to be of integer type"
contingency_id currently has the following definition:
[code]

It should probably be the following:
[code]

[2018-07-19 23:35] nasajoey commented on #85
Per OpenAPI 2.0, went with:

[code]

[2018-07-19 23:35] #85 closed

[2018-07-20 16:24] esparano commented on #78
On a related note, should JSON integers (e.g. 40) be accepted for fields of type double/float? We were thinking that float->int conversion would be disabled because of loss of precision, but int->float would be allowed because there is no loss of precision.

[2018-07-20 16:55] rstrauss-logyx commented on #78
These last 2 comments seem good- keep it strict, disallowing booleans, numbers (and structures- e.g. arrays) to be in strings, but int is indeed a subset of double.  Other common causes of bad data are lack of a min length for required, non-empty strings, and specifying there should be no leading or trailing spaces in strings.

[2018-07-21 03:57] nasajoey opened #86 "Create data types for uuid and timestamps"
As we fix bugs in the documentation, it is becoming evident that data types that are re-used throughout the document with the same parameters should be pulled out into a new data type.  This will save fixes that currently have to occur throughout the documents.  Will be easier to fix in one place.

uuid and timestamps are the two main culprits we will attempt first.

[2018-07-21 05:20] nasajoey commented on #86
@punamverma @issmith1 please sanity check the previous commit.  Any red flags to pulling uuid out into its own model in terms of codegen or anything else?

[2018-07-21 19:30] nasajoey commented on #86
For those coming to this issue and not wanting to poke into the code, here is a summary of the major changes.  These are still proposals since they are in the dev branch, so now is the time to comment.

### timestamp data type
[code]
### uuid data type
[code]

[2018-07-22 02:00] nasajoey commented on #78
According to RFC8259, there actually is no such thing as an integer type, just number.  The "integer" thing comes from swagger.

So for ints I'd be happy with no quotes (numbers aren't quoted), and any actual integer (no decimal) or a float/double with only zero(es) in the fractional part.

For boolean, I think we need to lay down the law and use unquoted `true` and `false`.

This sounds like the

[2018-07-22 02:01] nasajoey commented on #82
re-assigning to @issmith1 unless she doesn't have time.

[2018-07-22 05:22] nasajoey commented on #56
Closing this out.  For bugs, open new issue.  For discussion overall, add comments to this issue.

[2018-07-22 05:22] #56 closed

[2018-07-22 19:48] nasajoey opened #87 "Access to increased privileged data: 2 approaches"
Some operational data have elements that are only accessible to those with increased privileges.  There are at least two ways we can make this work.

1. Based on the scope presented to existing endpoints, the USS providing data ensures the correct data elements in the model are in the response.  This increases complexity of request handling, but keeps the number of endpoints at their current level

[2018-07-22 20:30] nasajoey commented on #84
Since I got @jfisherge thumbs up on previous post, going to close this one.  Please comment if we should discuss further.

[2018-07-22 20:30] #84 closed

[2018-07-22 20:42] nasajoey commented on #49
I think I updated all models in commons.  Closing this... any I missed should be bugs and in a new issue.

[2018-07-22 20:42] #49 closed

[2018-07-22 20:46] nasajoey commented on #36
@issmith1 @myspri @punamverma @sjurcak no response, so I'm kinda going for it.

[2018-07-22 21:58] issmith1 commented on #36
29 instances in 18 files, most repos
@myspri I recommend Shankar for assignee.

[2018-07-22 22:00] nasajoey commented on #36
What would Shankar do?  Make sure processes don't break?  I'm OK renaming files myself as in the previous commit.  Just need green light that you guys don't think it will cause excessive havoc.

[2018-07-22 22:02] myspri commented on #36
Sounds like the codegen process should look into the descriptive file name instead. Should not be difficult, although this is a breaking change.

[2018-07-22 22:19] issmith1 commented on #36
these are simple changes but good for learning bec it touches all components.  His role will be devops and dev.

[2018-07-23 13:03] nasajoey commented on #86
@punamverma @issmith1 @myspri I made these changes this weekend.  Please take a look and let me know of any unintended consequences or undue development burden.  Since the changes are done from my perspective, would like to close this issue.

[2018-07-23 19:23] punamverma opened #89 "Need a min length for required fields primary_contact_name primary_contact_phone"

[2018-07-23 19:59] boguwei commented on #87
Can you provide an example of this?

[2018-07-23 22:32] nasajoey commented on #89
those are gone.  see #56.

[2018-07-23 22:32] nasajoey commented on #89
nice Sprint 1 label, BTW

[2018-07-23 22:33] #89 closed

[2018-07-23 22:34] nasajoey commented on #87
Sure.

In the current Position model hdop_gps isn't something that the PUBLIC would need to know, but may be helpful in some SAFETY related queries.  Hence that data element is tagged with `x-utm-data-accessibility: SAFETY`

[2018-07-23 23:30] boguwei commented on #87
Ah, thanks for the example.

Uber's preference is option 2. discussed so far, it seems the cost of maintaining additional endpoints is lower than the added complexity of filtering one set of endpoints on privilege.

[2018-07-23 23:53] OrangeBean commented on #87
To add on @boguwei  point: maintaining separate endpoints will allow mutate public and private models independently which might be required in the future.

[2018-07-24 04:52] nasajoey commented on #86
In telecon with current USS implementers, we discussed timestamps.  An informal poll and discussion led to a decision to be strict with timestamps, as were originally designed in UTM.

This means that we force all timestamps to the same ms resolution and force the use of UTC time indicated by 'Z'.

This forces the length to be exactly 24 chars.

[2018-07-24 16:46] shabemdadi opened #90 "Order of OperationVolumes with respect to Start and End Times"
It seems as though the list of operation volumes within the Operation model should be in sequential order (the first volume in the list has the _earliest start time_ of all others in the list), however, I am curious if we can assume that the last volume in the list has the _latest end time_ of all others in the list as well.

I am thinking of a case where we have:
[0] - 1-8
[1]- 2-6

Where the ear

[2018-07-24 17:12] nasajoey commented on #90
Thanks for opening this discussion.

Looking at the JSON RFC spec, it says that

And then it says that

So I think your point is reasonable given that arrays are indeed to be interpreted as ordered.  Will have to work on the language a little since some folks may have operation volumes with equal end times.  Probably best to order by `ordinal` data element.

[2018-07-24 17:13] nasajoey commented on #90
I defer to an RFC whenever possible.  For reference, the JSON RFC: https://tools.ietf.org/html/rfc8259

[2018-07-24 20:33] boguwei commented on #90
If we order on ordinal, it doesn't preclude @shabemdadi 's point right? should we enforce traversal of volumes by ordinal (i.e. no back tracking), or is it a valid use case to go from volume 0 to volume 1, and then back to volume 0 (using the example given in the original post).

[2018-07-24 21:17] nasajoey commented on #90
Sorry if I didn't take in the details in the original post.  I didn't see the weird end times.

@boguwei you are correct that ordering the JSON doesn't preclude @shabemdadi 's point.  The validation rules for opvols as currently written are also not violated by this case.

As a USS, you work to ensure your operators stay conforming.  An op is geo-conforming (not a real term) if their current posit

[2018-07-25 15:30] esparano commented on #90
I must admit that I don't totally understand Operation Volumes, even after reading some of the specs. The old USS Specification states that

The Swaggerhub Docs also indicate that

Does that mean that, if you have two vehicles, they must follow roughly the same path through the operation volumes? Or can their paths diverge so that there are eventually multiple simultaneous operation volumes that d

[2018-07-25 15:46] nasajoey commented on #90
Thanks for the thoughts @esparano .

in your diagrams, we are only saved by your quote of the USS Spec:

If the operation can't actually navigate the plan, then they are going to break spec if they try.

The easiest fix I can think of right now is to require that start time of a preceding volume must be before (or equal to?) start time of succeeding volume (ordered by opvol.ordinal).  Would this m

[2018-07-25 15:52] boguwei commented on #90
You don't necessarily need to break spec on the second diagram though unless you are required to utilize all the operation volumes you filed? To separate out the intention of the operation from the actual filed model of it, an operation can simply end in volumes 3 or 4 (while still being in a valid conformance volume). Such a filing would not break validation, but would conflict with anybody who w

[2018-07-25 15:52] boguwei commented on #90
+1 on this.

[2018-07-25 16:10] nasajoey commented on #90
I think some of this comes down to how we end up measuring efficiency of planning by USSs and Operators.  I think there will always be ways to create extraneous operation volumes that pass the validation rules.  we'll need incentives toward efficiency, which is a separate discussion.

So, with the assumption that everyone WANTS efficient plans (or have been coerced into wanting them), I think the

[2018-07-25 17:51] esparano commented on #90
I strongly agree with this. I'm still thinking of edge cases but perhaps I should accept that there is no simple set of rules that will guarantee efficiency without being too restrictive. So I'd rather be less restrictive and then ensure efficiency in another way.

So, I agree with your solution, Joey, but I don't think we've fully or clearly answered the original question.

I do think that backtr

[2018-07-25 17:57] nasajoey commented on #90
i don't disagree with any of you points, except that I am cautious to closing off use cases we haven't fully explored yet to solve what may be not a huge problem in practice.

The main case I have in mind is a tall, narrow, vertical land/launch volume that gets someone up to a mission volume where they do some stuff and then come back to use the land/launch volume again.  They could keep that init

[2018-07-25 18:04] esparano commented on #90
Yeah, I agree. I'm cautious about it too. Perhaps it's easier/safer to add more restrictions later.

[2018-07-25 18:10] nasajoey commented on #90
I feel like I want to continue the conversation just so I can get some more of @esparano 's colorful spatial-temporal charts!

[2018-07-26 03:56] nasajoey opened #91 "decide on email regex"
In the new contact model, we do not provide an email regex.  Email regex's are non-trivial, and seldom will match 100% of all possible emails.

So the question is do we want to agree on a format for the API or just let it slide?

We may have a problem if everyone has their own regex.  Things go bad if you have to communicate with multiple USSs and one of them 400's you for the email address and no

[2018-07-26 17:17] esparano opened #92 "OperationVolume end time typo?"
In v4-dev-draft, the OperationVolume model in utm-domains/utm-domain-commons.yaml reads

It seems like that should be a >, based on the provided example times.

[2018-07-26 17:25] esparano opened #93 "Position Model Example Inconsistent"
The Position model example still has  "track_ground_speed_kn: 33.33" but that field has been split into "track_ground_speed" and "track_ground_speed_units"

[2018-07-26 17:29] #93 closed

[2018-07-26 17:30] nasajoey commented on #92
I think the text is correct.  If so, that means we just need to update example values.

Do you see a problem with the requirement as quoted above?

[2018-07-26 17:38] esparano opened #94 "origin_uss_name minLength for NegotiationMessage"
All properties that represent USS names have a minLength of 4 because

except for the origin_uss_name  property of a NegotiationMessage.

[2018-07-26 17:39] esparano commented on #92
I guess I don't understand what actual_time_end is. But yes, the example values should satisfy that requirement.

[2018-07-26 17:41] nasajoey commented on #94
related:  I think exclusiveMinimum and max are misused in several spots.  need to revisit that.

[2018-07-26 17:41] #94 closed

[2018-07-26 17:42] nasajoey commented on #92
an operation can end early.  this field can indicate when that end actually was without altering the original planned end time.

[2018-07-26 17:42] nasajoey commented on #92
oops, reopening until fixed.

[2018-07-26 17:43] esparano commented on #92
So it can end before the planned start time?

[2018-07-26 17:44] esparano commented on #92
I expected either actual_time_end **>** effective_time_begin or actual_time_end < effective_time_**end**

[2018-07-26 20:19] sanandk commented on #92
I think it is a typo. The Sprint 0 sheet has this, correctly.
`actual_time_end > effective_time_begin (when actual_time_end is not null)`
Eventhough the operation can end earlier than expected, actual_time_end cannot be less than effective_time_begin.

[2018-07-26 20:53] esparano commented on #92
So if it should be
`actual_time_end > effective_time_begin`

is `actual_time_end <= effective_time_end` something that must be valid? Or can an operation end after it planned to?

[2018-07-27 06:06] nasajoey commented on #92
`actual_time_end <= effective_time_end` must be valid if you were conforming during the entirety of your operation.  You may have been non-conforming (or rogue) for some time after `effective_time_end` such that your `actual_time_end` is later.  This is off-nominal... Operators and USSs should endeavor to update plans such that this kind of thing doesn't happen.  But given such possibilities, we d

[2018-07-27 16:14] esparano commented on #92
Makes sense. Then just swap the < for a > and the examples shouldn't need to be changed anymore. Thanks!!

[2018-07-27 22:08] OrangeBean opened #95 "token with insufficient scope should trigger 403 Forbidden."
When USS receive token with insufficient scope it should return 403 Forbidden. At the moment uss swagger define only 401 Unauthorized response.

[2018-07-28 19:34] issmith1 commented on #82
duped in JIRA UTM-3605

[2018-07-28 19:47] #82 closed

[2018-07-28 19:49] issmith1 commented on #95
Vijay, I understand you're in this code now, thus assigning.

[2018-08-02 04:31] nasajoey commented on #95
Based on the definitions below directly from the relevant, current RFCs, I'd agree that 403 is a more appropriate response when a valid token with the wrong scopes is provided.

### 401 Definition from [RFC7235](https://tools.ietf.org/html/rfc7235#section-3.1):

### 403 definition from [RFC7231](https://tools.ietf.org/html/rfc7231#section-6.5.3):

[2018-08-02 04:32] nasajoey commented on #95
However, I don't think this is a change for Sprint 1.  Let's follow the APIs for now as documented and get this into Sprint 2.

Open to alternate opinions.

[2018-08-02 04:48] #92 closed

[2018-08-02 05:13] #90 closed

[2018-08-02 05:17] nasajoey commented on #86
done?

[2018-08-02 05:17] #86 closed

[2018-08-03 00:05] shabemdadi opened #96 "v4-draft - Air speed source shown in Position example but not in Position model requirements"
https://github.com/nasa/utm-apis/blob/7ed648eeadc029b6c971554196e78f3c313f652d/utm-domains/utm-domain-commons.yaml#L997

[2018-08-03 16:41] issmith1 commented on #36
I now know how to implement this change.  It needs to support 1) hotfix to TCL3 deployments, 2) concurrent dev on TCL4

At this time, however, we have a simplified CICD process whereby we can support the above w/out branching all 6 repos.

Based on my time est to support other tasks for sprints (Timestamp codegen etc) we cannot impl this fix.

[2018-08-07 18:44] issmith1 commented on #96
hi Shabemdadi, as per gh issue #59, " We'd be eliminating the air speed option to simplify data exchange and processing as we haven't seen that field exercised much in our demonstrations."

This is apparently an error in the example data but I will double check its status.
Thank you for your input.
Irene

[2018-08-08 18:15] sjurcak commented on #96
Hi Shabemdadi,
The fix for this has now been pushed to v4-draft.
Commit # 28adb14294459b81a972b0a865d220e94d7ae982
Thanks,
Sherry

[2018-08-08 18:15] #96 closed

[2018-08-08 21:50] HarryAirMap opened #98 "Example constraint message does not contain fields “permitted_uas” and “permitted_gufis”"
In the schema definition https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/ConstraintMessage, the two fields “permitted_uas” and “permitted_gufis” are defined in the schema, but are not present in the example. It is clarified that they are required.

[2018-08-09 21:26] esparano opened #99 "ConstraintMessage Altitudes Not Required?"
A ConstraintMessage's constraint_geography field is required (which is a 2D GeoJSON Polygon), but the min_altitude and max_altitude fields are not marked as required. Is this a typo in the docs? If not, does omitting a min or max (or both) altitude signal that the constraint extends "infinitely" in that direction? Or something like that?

[2018-08-14 18:33] mcelhennyi commented on #78
@nasajoey

`So for ints I'd be happy with no quotes (numbers aren't quoted), and any actual integer (no decimal) or a float/double with only zero(es) in the fractional part.`

I agree with the first part, but not the second part. When the python json decoder gets the 10.0 type number it creates a float type in memory, however when 10 is decoded into memory it creates an integer.

For example,
![im

[2018-08-14 18:49] nasajoey commented on #78
Thanks for the input, @mcelhennyi . I'm not super swayed by the Python argument (dynamically typed languages are going to do what they are going to do I suppose), but I am a sucker for super strictness as a rule, and that would help in the example you provide.

If we can get a little more input on the impact to forcing "pure" ints (no decimals at all allowed) from the data generation side, that wo

[2018-08-15 15:59] mcelhennyi commented on #78
Something I just came across, similar to this topic of standards...

![image](https://user-images.githubusercontent.com/14264857/44158319-64ac3480-a082-11e8-9b40-88bf18a44cc0.png)

UDC sent me a callback url that is "null" which gets interpreted as a string that is non empty. This seems like a flaw. Simply sending null (without quotes) or nothing at all would be much safer.

See [here](https://sta

[2018-08-15 17:15] kteneyck commented on #78
@Joey I agree that integer fields must not have a decimal (ex. 5 works but 5.0 fails).

On a different note I agree with @esparano that int -> float has no loss in precision and the json serializers I've used would require more logic to force 0 to convert to 0.0 for a double field. (ex. 5.0 works and 5 should also work).

[2018-08-16 18:28] issmith1 opened #100 "request to clarify 'Bearer' vs 'bearer' in USS Spec"
Neither oauth2 RFC nor USS Spec explicitly state whether 'bearer' is also accepted.

Might the USS Spec explicitly state case sensitivity?  In Sprint1 most USSs accepted insensitive, but one USS rejected small case.  See also UTM-3666

[2018-08-17 18:07] punamverma opened #101 "v4-draft - Altitude property - vertical_reference enum shouldn't have minlength and maxlength"
Enum types should not have a min length and maxlength. It causes codegen issues.

[2018-08-18 03:48] issmith1 opened #102 "clarify in USS Spec - reject upon getting JSON fields not declared in the class?"
Kevin (Uber) [12:38 PM]
What’s the expected protocol for handling messages with unknown fields? We’re receiving operations with an extraneous user_id field

Kevin (Uber) [12:38 PM]
It looks like from Amazon

irene - NASA [1 hour ago]
I look at the latest USS spec and could not find a requirement to reject(or allow) if  the the json instance contains fields that are not declared in the class;  Long

[2018-08-20 14:23] issmith1 opened #103 "clarify USS Spec, should request be rejected if token's scope list size != 1?"
for Sprint1 NUSS accepts

[2018-08-20 14:58] nasajoey commented on #103
For Sprint 1, accept.  Sprint 2+ will enforce.

[2018-08-20 14:58] #103 closed

[2018-08-21 20:42] esparano opened #104 "Maximum Email Address Length"
One of the automated validation tests verifies that we accept 500-character emails. I feel that there should be a much lower limit on the length of emails. The theoretical maximum number of characters is 254, and from what I've seen the practical maximum is around 100.
See https://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address
for relevant discussion and som

[2018-08-24 23:22] punamverma opened #105 "Can two consecutive OperationVolumes have same effective_time_begin?"
@nasajoey I want to clarify whether two consecutive OperationVolumes of an Operation, can have the same effective_time_begin? Or, does the effective_time_begin of second OperationVolume needs to be greater than the effective_time_begin of the previous OperationVolume?

[2018-08-28 14:26] mcelhennyi opened #106 "Add UssExchange::exchange_data_type for InterUSS interaction"
Should there be a type for InterUSS interaction in the UssExchange model?

[2018-09-01 00:26] nasajoey commented on #106
Done.  Thanks!

[2018-09-01 00:26] #106 closed

[2018-09-01 00:32] nasajoey commented on #104
Thanks.  Done.

[2018-09-01 00:32] #104 closed

[2018-09-01 00:33] nasajoey commented on #91
Going to leave this one as-is.  We'll have an honorable understanding not to put dumb stuff in email field for now.  No one should reject based on "bad" email address.

[2018-09-01 00:34] nasajoey commented on #102
leaving to future sprint.

The Spec says (or said) that you can/should ignore unknown fields per JSON common practice.  I'm feeling like we should tighten down and not allow unknown fields to be exchanged.

[2018-09-01 00:36] #101 closed

[2018-09-01 00:39] nasajoey commented on #98
I think done.  If wrong, please let me know.

[2018-09-01 00:39] #98 closed

[2018-09-01 00:42] nasajoey commented on #100
RFC6750 has the syntax with a capital 'B'.  It doesn't offer an alternative of a 'b'.  Thus that should be the spec.

https://tools.ietf.org/html/rfc6750#page-5

[2018-09-01 00:42] #100 closed

[2018-09-01 00:43] nasajoey commented on #99
Done.  They are required now.  Thanks!

[2018-09-01 00:43] #99 closed

[2018-09-01 00:45] nasajoey commented on #71
I'll relax this to <= even though I think it opens up for shenanigans.  I know some simulators won't add in that buffer, so that is probably enough reason to relax for now.

[2018-09-01 00:46] #71 closed

[2018-09-01 00:48] nasajoey commented on #39
Leaving as-is from SPrint 1:

operation_volumes:
        description: >-
          The actual geographical information for the operation.

          A note on "intersection":
            Note 2: All of the terms "crosses", "within", "touches" imply
            intersection. I can track down a source for this definition
            (probably OGC), but for now, you can see it illustrated in the

[2018-09-01 00:48] #39 closed

[2018-09-01 00:49] nasajoey commented on #39
To correct @rstrauss-logyx above... 120 mins is the limit for a single volume, not the entire operation.

[2018-09-01 00:50] nasajoey commented on #105
see #39 .    Yes, those times can be equal.

b. When ordered by ordinal values, a succeeding operation volume
              must have a non-negative temporal intersection with its
              immediately preceding operation volume (Note we'd calculate this
              by t1-t2 where t1 is the preceding operation volume end time and
              t2 is the succeeding operation volume start time

[2018-09-01 00:50] #105 closed

[2018-09-01 00:51] nasajoey commented on #95
Still agree with this, but kicking can to SPrint 3.

[2018-09-01 00:55] nasajoey commented on #29
@punamverma please see if that last commit finalizes this or not.

[2018-09-01 01:36] HarryAirMap commented on #98
The change was at the branch "v4-draft-dev". I think you need to merge it to "v4-draft".

[2018-09-01 05:04] nasajoey commented on #98
Yes, the merge will happen when we "pin" our version of the API for the Sprint 2 sim... v4-draft will be the truth... this is like staging in v4-draft-dev.  All key changes will come at once in that merge.

Thanks for keeping an eye on this though!

[2018-09-02 05:15] nasajoey commented on #78
I'm going to try really hard to summarize, but will probably fail.  Please follow on discussion if these rules seem wrong or missed something important:

1. Boolean values must be actual booleans, not enclosed in quotes.  Only `true `or `false` are OK.
 `"true"` is not OK.
2. numbers in the spec must never be enclosed in quotes.  `123.4` is OK.  `"123.4"` is not OK.
3. fields designated in swagger

[2018-09-02 05:16] nasajoey commented on #78
@kteneyck @rstrauss-logyx @mcelhennyi @esparano @ktian94 please let me know your thoughts on the above summary.  Would like to close this out if possible.

[2018-09-02 15:02] mcelhennyi commented on #78
@nasajoey could you also state a rule for null.

“Null” vs null vs “” vs (nothing)

I have seen “null” and that is not very helpful. “”, null, and just no key are my preference. (I am less satisfied with “” but can see why leaving it would be needed/okay)

[2018-09-02 22:08] akishiha opened #109 "array of pks"
Why not have this an array of uuids?

https://github.com/nasa/utm-apis/blob/8190b0c93c7605b23384f06c77769abb209b8ca7/tcl4-data-apis/utm-tcl4-data-collection.yaml#L336

[2018-09-03 01:32] nasajoey commented on #109
in Sprint 1, we didn't have a use case for them... every exchange was a single primary key.  Then after discussing the potential change, I decided not to break stuff.  So, this was sort of an inertia decision.

Not that we shouldn't do it or that we won't do it... will leave this issue open.

[2018-09-03 02:07] akishiha commented on #109
ok sounds good

[2018-09-04 16:02] issmith1 opened #110 "example data is authz's swagger spec is out of date"
example:
      access_token: tokenstring
      token_type: bearer
      expires_in: 3599
      scope: utm.nasa.gov_write.operation utm.nasa.gov_read.operation  # del read op
      sub: nasaUSS ## should be like "nuss1.testing.nasa.gov"
      nbf: 1509470774
      iss: fims.arc.nasa.gov/fimsAuthServer
      jti: 4d4c1a63-0959-48cc-885a-3648fd582db7

[2018-09-04 17:03] ktian94 commented on #78
@nasajoey lgtm, this follows JSON spec. @mcelhennyi I believe [this issue](https://github.com/nasa/utm-apis/issues/65) addresses what you're looking for

[2018-09-04 17:07] ktian94 commented on #65
@nasajoey: We can ensure we don't send null values for optional fields, but it may be difficult for us to enforce this on requests we receive as doing something below is considered valid JSON. If we receive a key with the value null and the field is nullable, can we still accept the request?

[code]

[2018-09-04 17:10] nasajoey commented on #65
I think items 2 and 3 above address this.  In the spec, if an array field is required, we'll move to making the minItems = 1.  If the array field is not required, then we'll have an agreement on the protocol (above JSON spec) to not allow null... optional fields that are null should just not be sent.

[2018-09-04 17:28] nasajoey commented on #65
i was told some frameworks may do odd things with a null field, potentially against spec.  If a null is properly sent, some systems may treat that field as unsent and some count it as sent.  Not sure if this is a problem, but inconsistency sounds bad.

I'm not super invested in this decision at this point.  would be happy to hear from others.  as with other decisions, leaning on existing spec soun

[2018-09-05 20:17] esparano commented on #65
I guess this is similar to my question about accepting valid ISO-8601 datetimes. We are using subsets of accepted standards, and there is a difference between sending in the required format and being required to reject valid data that isn't part of our subset.

I agree with the three bullet points you wrote, @nasajoey!

[2018-09-05 20:45] nasajoey commented on #78
I'm going to close and make this law.  Will end up somewhere... USS Spec or somewhere in API docs someday.  @issmith1 @punamverma @sjurcak please note the four agreed rules above... can make sure we have test coverage in that regard.

[2018-09-05 20:45] #78 closed

[2018-09-06 20:19] ktian94 opened #111 "Implementation for non-conforming at 0.5Hz position reporting rate"
Should there be a standard implementation check for this or will it be left up to the USS?

From Slack:
[code]

This is in response to the following ReportingRicky requirement:
[code]

[2018-09-21 21:53] ktian94 opened #112 "Add 423 response to /operations/{gufi} in uss-api"
For Sprint 2, we need to be able to return the 423 status code for /operations/{gufi} when the caller is requesting an operation that has been put to the grid but not yet committed. Confirmed with @myspri in Slack that this is the endpoint used to fetch flight volumes when deconflicting. cc: @nasajoey @hi-kevin

[2018-09-27 12:32] nasajoey commented on #112
Made the fix in v4-draft-dev.  Please review for correctness.  If I get a couple thumbs up, will close.

[2018-09-27 12:44] nasajoey commented on #111
Perhaps something like:

An Operation is NONCONFORMING if the number of positions reported in the last minute are not within 10% of the number or required positions to be reported in that minute.

So, if 1Hz is the "rule", then 60+/-6 positions are required within the previous minute for that Operation to stay in the ACCEPTED state.

Thoughts?

[2018-09-27 12:47] nasajoey opened #113 "Remove introspect endpoint from autz server"
We will not support token introspection for various security reasons.

[2018-09-27 12:52] nasajoey commented on #113
@issmith1 @vbaskara please review and reopen if needed.

[2018-09-27 12:52] #113 closed

[2018-09-27 12:53] #110 closed

[2018-09-27 13:02] nasajoey commented on #102
I'm wondering about the implications of this decision.  Specifically, what if the unknown fields end up being more data than the spec fields?  This is OK?  I feel that this opens the possibility for (accidental or intentional) DOS attacks.

Also this has implications on the signatures.  You are now signing a bunch of extra fields which may be problematic (but not sure).

I assume that the receiver

[2018-09-27 13:14] #95 closed

[2018-09-27 13:15] nasajoey commented on #41
Related to #87 .

[2018-09-27 13:17] nasajoey commented on #29
@punamverma pinging again.  would like to close out. @issmith1 or @myspri may also take a look so we can close this.

[2018-09-27 13:24] nasajoey opened #114 "add minItems to ConstraintMessage"
Confusing that there is a 'default' and the array is required and there are no minItems.

Remove default and make minItems=1.

[2018-09-27 13:25] #114 closed, assigned to nasajoey

[2018-09-27 13:28] issmith1 commented on #29
Assignee (currently Shankar) ensure there is, or create a test for this endpoint.  Postman (see Ops Lifecycle test) is a reasonable impl, then close out.

@myspri may want to create JIRA to manage this in our sprint.

[2018-09-27 23:33] myspri commented on #29
@nasajoey @punamverma there are two pieces to this, both of which do not need changes to uss-api.
1. This could be an NUSS operator api that allows operators to ask USS about known UVR (a.k.a) DR
2. be a part of public safety api, that allows someone like FIMS to ask for constraints that were issued by this specific USS.

@punamverma you might want to consider moving this issue under public-safety

[2018-09-28 00:03] punamverma commented on #29
@nasajoey @myspri We can close it, as this issue was for operator. And, I see a GET /restrictions for operator.
And , open a new one for the one @myspri mentioned - "be a part of public safety api, that allows someone like FIMS to ask for constraints that were issued by this specific USS."
Thanks.

[2018-09-28 17:16] punamverma commented on #29
No @issmith1 ..its not implemented yet.

[2018-10-01 15:08] nasajoey opened #115 "Apply new term "UAS Volume Reservation""
What were originally called "Constraints" and then called "Dynamic Restrictions" are now called "UAS Volume Reservations".

It is assumed that UVRs will have multiple flavors.  Update ConstraintMessage and other references to apply new terminology.

This may involve addition or modification of data elements.

[2018-10-09 14:04] #115 closed

[2018-10-09 14:05] nasajoey commented on #112
Assuming good... closing.

[2018-10-09 14:05] #112 closed

[2018-10-09 14:50] nasajoey opened #116 "NegotiationMessage updates"
Based on TCL3 feedback, update NegotiationMessage model.

[2018-10-09 15:00] myspri commented on #112
@nasajoey, here is a comment
https://github.com/nasa/utm-apis/commit/315d71cd49e9ef196c58c1394686e99ea8e1660a

    On Tuesday, October 9, 2018, 7:05:28 AM PDT, Joseph Rios <notifications@github.com> wrote:

Closed #112.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-09 15:35] myspri opened #117 "As an USS, I need a new state to indicate that my Operation is under planning"
An operation with large volumes that span multiple grids can a take a while before get ACCEPTED.

GET /operation end point returns a list of operations along with the state info.
We need a state to indicate that the operation is still being planned.

Should "PROPOSED" be a valid state?

[2018-10-11 16:52] issmith1 commented on #29
note Dynamic Restrictions is  now renamed to  UAS Volume Reservation (UVR).
We can consider the priority of renaming this endpoint

[2018-10-15 13:21] nasajoey opened #120 "Remove pathitems in utm commons"
Unclear if the pathitems element in utm commons is needed.  If not needed, should remove.  Tagging @punamverma and @issmith1 to verify the need.

[2018-10-15 13:53] nasajoey opened #121 "Add NegotiationAgreement model."
We need an auditable, shareable model that describes when two USSs have negotiated plans, especially when that negotiation results in the intersection of those operations.  Adding that initial model.  May need to follow up with API changes that describe how this model is to be shared.

[2018-10-15 15:04] issmith1 opened #122 "Operator API - support LineString?"
Should TCL4 continue to support LineString?
I understand that trajectory flight plans can be modeled as a list of small volumes.

[2018-10-15 15:11] nasajoey commented on #122
The commons models do not support linestring.  I think NUSS only needs this if there is some value to the clients we support.  If we want to reduce NUSS complexity at the cost of increasing client complexity, then we can drop the support.

I think the Python client creates the volumes, so that complexity is already in one of our clients.  Not sure how AOL is handling it now for MACS integration?

[2018-10-15 15:20] issmith1 commented on #122
that captures it.  I will propose removal to the Operator API stakeholders.

[2018-10-15 15:35] issmith1 commented on #120
Should be removed.

Not sure when it was introduced but it serves no purpose.  To codegen a 'Version' model, we need to trigger via an API;  the OPS API https://app.swaggerhub.com/apis/utm/fims/v4 defines /api endpoint which triggers the codegen of the 'Version' model into our utm-commons model library.

[2018-10-15 15:53] issmith1 opened #123 "Operator API - stakeholders should review conformance & protected buffer definitions"
Stakeholders using Conformance and Protected buffer definitions should review the TCL4 Operator API definition.  In particular, TCL2's Operator API definitions for conformance buffer are zero which seems wrong.  The commit history shows these values in place on Oct. 2016.

For TCL4 the buffer values will be stored as a OperationVolume specific property.  The TCL4 implementation allows binding thes

[2018-10-15 21:30] nasajoey opened #124 "Clean up uss_instance references"
To be more agnostic to discovery approaches, remove explicit reference to uss_instance data.

For now that mean using a string to be a reference for any discovery method.

For "classic" discovery, this would still be a UUID for the uss_instance_id.  For gridded discovery, this would be an x,y,z string.

Will call this "discovery_reference" as a field name.

Needs to hit a few models... operation,

[2018-10-15 21:31] #124 closed

[2018-10-15 21:32] nasajoey commented on #121
We won't use this in Sprint 3, so won't do any more work now.  Any changes (there will probably be some) will be taken as new issues as we prep for Sprint 4.  Comments welcome.

[2018-10-15 21:32] #121 closed

[2018-10-15 21:32] nasajoey commented on #120
Thanks @issmith1 .  Done.

[2018-10-15 21:32] #120 closed

[2018-10-15 21:34] nasajoey commented on #117
Added state in Operation model.  Will hold off on larger protocol uses at the moment.  Will close this for now...  how to use this state (if at all in Sprint 3) will be provided elsewhere I think.

[2018-10-15 21:34] #117 closed

[2018-10-15 22:09] nasajoey opened #125 "Update ContingencyPlan per C+N Working Group"
The C+N working group has developed some improvements to the contingency plan model.

Here some some notes that were provided by that working group:

[2018-10-15 22:52] nasajoey commented on #125
Will close.  Fixes/improvements should be a new issue.

[2018-10-15 22:52] #125 closed

[2018-10-16 13:58] issmith1 commented on #123
@vbaskara   Adding you so you are aware of the conformance values.  Note that TCL2 had them zero, and at this time in the branch they are 1.

[2018-10-17 00:10] nasajoey opened #126 "New enums for priority_status"
From C+N and SAA working group input:

[2018-10-17 00:19] #126 closed

[2018-10-18 18:50] sjurcak opened #127 "Should /constraint endpoint should change to /uas_volume/reservation?"
Now that ConstraintMessages have been renamed to UASVolumeReservations, should all instances of 'constraint', including the URL, be updated to uas_volume_reservation?

[2018-10-18 21:29] #122 closed

[2018-10-19 09:30] jeremie-leproust opened #128 "Add 409 response for PUT /negotiations/{message_id}"
https://github.com/nasa/utm-apis/blob/b78492020d31172c258be459c623535209ccf116/uss-api/swagger.yaml#L253

There should be a specific response for cases where negotiation fails. I recommend returning a 409 response using the UTMRestResponse schema.

[2018-10-19 09:47] jeremie-leproust opened #129 "Do we need NegotiationAgreement.message_id?"
https://github.com/nasa/utm-apis/blob/b78492020d31172c258be459c623535209ccf116/utm-domains/utm-domain-commons.yaml#L1451
Do we need message_id in the negotiation agreement, or is negotiation_id sufficient in this context?
In case we support negotiations later with multiple messages, which one should we use here?

[2018-10-19 09:51] jeremie-leproust opened #130 "Clarify NegotiationAgreement.discovery_reference"
https://github.com/nasa/utm-apis/blob/b78492020d31172c258be459c623535209ccf116/utm-domains/utm-domain-commons.yaml#L1497-L1510

Should we clarify that this field corresponds to the "other" USS (meaning the USS that participated in the negotiation but doesn't own the current operation)?

[2018-10-19 09:52] jeremie-leproust opened #131 "Add NegotiationMessage.discovery_reference?"
https://github.com/nasa/utm-apis/blob/b78492020d31172c258be459c623535209ccf116/utm-domains/utm-domain-commons.yaml#L1532

Should we add a discovery_reference required field for the negotiation requester?

[2018-10-19 14:08] nasajoey commented on #129
Negotiations are linked now through negotiations_id, however each message that is exchanged is unique and needs a message_id.  Same with NegotiationAgreement... it can reference the full exchange of messages through the negotiation_id, but the NegotiationAgreement itself is potentially a stand alone message, so I think we want the message_id.

[2018-10-20 16:48] nasajoey opened #132 "discovery_reference optional"
until we have clarity on the use of the discovery_reference field, make it optional everywhere that it lives.

If a protocol or use case develops, it is free to use the field.  Hopefully this will help determine how to codify its use in the long run.

[2018-10-20 17:03] #132 closed

[2018-10-20 17:04] nasajoey commented on #131
added discovery_reference as an optional field for now.  can be used in protocols if we need it.  if it turns out we need it all the time, then we'll switch to required.

[2018-10-20 17:04] #131 closed

[2018-10-22 09:22] jeremie-leproust opened #133 "Add a GET /constraints/ API"
https://github.com/nasa/utm-apis/blob/3189acdb3ce13dd64258cecb0e4f3c40c158a202/uss-api/swagger.yaml#L62

Should we add a GET /constraints/ API to retrieve the list of active or future constraints (UAS volume reservations)?
This would allow a USS that comes online to query those for instance.

[2018-10-22 12:04] nasajoey commented on #133
We do need a way to have for folks to GET current UVRs.  It is a little confusing right now... this endpoint exists, but is only required to be implemented by those USSs with the public safety role.  You can see the endpoint here:  https://github.com/nasa/utm-apis/blob/386b5566e7fbd833a63a74e4d00aff08140b0a78/public-safety-uss/swagger.yaml#L229

The odd part is that you are not guaranteed to have

[2018-10-22 12:09] nasajoey commented on #133
I've added this to the gridded platform as an issue.  We can use that to determine solutions for other discovery approaches as well:  https://github.com/wing-aviation/InterUSS-Platform/issues/39

[2018-10-22 13:02] jeremie-leproust commented on #133
I am not sure I understand the following sentence:

Why wouldn't a USS only return the UVRs he owns, just like it does for operations (USSs don't return flights owned by other USSs)?

[2018-10-22 17:01] nasajoey commented on #133
You are correct in your understanding and that was the intent of the statement… we would only want a USS to supply the UVRs that it announced/manages.  The issue comes back to how we guarantee that USS is always around while the UVR is in effect.  If that USS is unreachable or doesn’t stick around for whatever reason, then the information about that UVR may not ever get to a newcomer USS.

Having

[2018-10-22 17:20] shabemdadi opened #134 "uss_name vs. originator_id"
I noticed that in some models (UtmMessage, UasVolumeReservation) we are using originator_id, defined as:

While in other models (UssInstance, Operation, and Position) we are using uss_name, defined as:

These seem like they are the same thing, if so, maybe we should pick one and make it consistent across.

[2018-10-23 02:17] nasajoey commented on #134
The issue with UTMMessage and UVRs is that they may or may not be generated by a USS.  Thus the field "uss_name" is not always appropriate.  This is why in those models there is an "origin" field... if origin == USS, then originator_id is equivalent to uss_name.  originator_id was such a clunky label, I didn't originally want it in all the models.

I'm open to suggestions on how to fix this becaus

[2018-10-23 13:41] nasajoey opened #135 "Better define submit_time and *_update_time"
Looking at Sprint 2 data in some detail, I think we need a clearer definition for the current fields "submit_time" and "last_lun_update_time".

Will add 'description' for submit_time, will rename "last_lun_update_time" to just "update_time" and improve its description.

Changes for Sprint 4.

[2018-10-23 13:45] #135 closed

[2018-10-31 02:07] sjurcak opened #136 "Callback URL needs to be mandatory"
Since discovery_reference is no longer required, there is no easy way to find the callback. Given that there are two possible solutions for Discovery, one might fallback to the old Discovery model, and not pass a discovery_reference. In this case, it would be impossible to contact the USS.

[2018-10-31 19:21] esparano commented on #111
More of a theoretical/businessy question: How does NASA determine what is part of the USS-NASA contract versus what is part of the Operator-USS contract? And what parts of the Operator-USS contract does NASA have control over?

Is this requirement stepping on the freedom a USS has to interface with an Operator? Or is there any room for USSs to develop "smarter" algorithms for determining whether a

[2018-10-31 20:04] sjurcak opened #137 "contingency_plans in Operations is not required, but min length is 1"
Operations does not require contingency_plans, but the minimum length of the array is 1.

[2018-11-03 02:56] issmith1 commented on #137
when this  is resolved please assign to UTM Software so the workaround is removed.

[2018-11-06 01:39] jeremie-leproust commented on #133
Oh I see. Isn't that the same anyway for missions owned by a USS? Whenever a USS (instance) operates a mission, then it needs to stay online and available. Could it be the same for UVRs?

[2018-11-06 01:39] jeremie-leproust commented on #129
Got it :)

[2018-11-06 01:39] #129 closed

[2018-11-11 02:44] nasajoey opened #138 "Need a scope to write public safety information"
The API spec states that only public safety USS can write operations with PriorityElements status
 = PUBLIC_SAFETY.

We don't have an appropriate scope at the moment.

[2018-11-11 15:30] issmith1 commented on #138
USS-API Swagger spec says if a BASIC_USS  attempts to PUT an Operation with  PriorityStatusEnum.PUBLIC_SAFETY, that data exchange should return 403.  We should probably emphasis that elsewhere in the USS Spec.

Today NUSS does not enforce this 403 -- it would be a business validation.

For government USS's running in TCL4, we define some USS identities in the BASIC security role and others in the

[2018-11-11 15:40] issmith1 commented on #71
what are the use cases for 1-second precision?

[2018-11-12 02:45] nasajoey commented on #138
To others up to speed on the NASA-internal discussions:

1. There already exists a scope for writing public safety operations.
2. The PriorityElements model states in description that writing a public safety operation would require a special scope.
3.  No endpoints are required to be protected for this (i.e. the uss-api doesn't have the pub safe write scope as allowable on any endpoint).
4. We'll

[2018-11-14 01:43] nasajoey commented on #133
Yes, that could be a requirement.  We've seen issues in testing where this becomes more involved than expected, but it is indeed possible.

[2018-11-14 01:46] nasajoey commented on #136
Is it required with all UTMMessages?  Or just for PERIODIC_POS_REP_START messages?  Spec already notes it is required in that case.

[2018-11-14 01:47] nasajoey commented on #134
I like consistency.  Open to having FIMS have a "uss_name" since it is used within the USS Network.

[2018-11-14 16:22] nasajoey commented on #136
talked with @myspri and made changes.  Closing for now... if still needs fixing, reopen with comments.

[2018-11-14 16:22] #136 closed

[2018-11-14 16:26] nasajoey commented on #134
Alright... going to close out.  If I missed any references or there are further changes, should open a new issue.

[2018-11-14 16:26] #134 closed

[2018-11-14 16:29] nasajoey commented on #137
Just to clarify, this is two different issues, one of which is invalid.

1:  We actually want contingency_plans to be required.  Will make this edit.
2:  When an array field is not required AND has minItems > 0, this is not a problem.  If the field is not included, then its length is not checked.  Analogy to optional string that have minLength > 0.  If the element is not included, then its length

[2018-11-14 16:42] nasajoey opened #140 "Byte size limit on Operation"
Should we impose a maximum data size for an Operation Plan?  Trying to exchange many MBs may be problematic for some servers.  There are many checkpoints along the way to processing an operation plan, some of which may reject payload that is over a certain size.

So some questions:

1.  Should we limit payload size to some max value?
2. If yes for 1, what should that limit be?
3. If yes for 1, sho

[2018-11-14 17:10] nasajoey commented on #138
Closing.  Done.  Reopen if I messed it up.

[2018-11-14 17:10] #138 closed

[2018-11-14 17:18] nasajoey commented on #111
I think the counter argument or major use case is public safety or security.  There is a requirement (maybe written down, maybe not at this point), that the ANSP know where each BVLOS operation is within some timeframe and with some level of confidence or within some uncertainty bound.  The easiest way to meet that requirement right now is to have the operator providing regular position updates.

[2018-11-20 15:44] nasajoey commented on #137
contingency plans will be required as of sprint 4.

[2018-11-20 15:44] #137 closed

[2018-11-20 15:55] nasajoey commented on #130
Had to add uss_name as an additional, partially redundant field for clarity.  Then improved the documentation on discovery reference to reference whoever generated this message.  This is still a messy field and this change isn't exactly what you asked for.  I think to do what you are requesting, we'd probably need a discovery field for both USSs?

[2018-11-20 15:59] nasajoey commented on #128
done.

[2018-11-20 15:59] #128 closed

[2018-11-20 16:07] nasajoey opened #142 "Need 403 responses on most endpoints"
There are some instances where a 403 is appropriate.  A key one is when a valid access_token with the appropriate scope is provided to an endpoint, but the data in the payload does not match the claims in the token.

Add 403's to all USS-API endpoints.

[2018-11-20 16:08] #142 closed

[2018-11-20 16:08] nasajoey commented on #127
done.

[2018-11-20 16:08] #127 closed

[2018-11-20 16:09] nasajoey commented on #116
I think this is done?  If not, should open new ticket with more specifics.

[2018-11-20 16:09] #116 closed

[2018-11-20 16:11] nasajoey commented on #57
I think most of these addressed?  Closing out.  Please reopen if something is still lingering.

[2018-11-20 16:11] #57 closed

[2018-11-20 16:12] nasajoey commented on #40
Added 403 responses per #142 .  There are validation tests enforcing this as of Sprint 4.  Documentation of USS Spec will occur later.  Closing.

[2018-11-20 16:12] #40 closed

[2018-11-21 10:23] jeremie-leproust commented on #130
It is a good point. I think I made my original comment based on the assumption that the negotiation agreement would be stored anyway in the USSOperation model, and then at least one of the USSs would already be clearly identified (the owner of the USSOperation).
Here, since the negotiation agreement should be fully meaningful as a standalone model, I agree it probably makes sense to put informatio

[2018-11-27 03:10] issmith1 opened #143 "What is USS Spec for validating inbound UtmMessage.callback"
Sprint4 UtmMessage .callback is now required.  What is the USS Spec for validating inbound UtmMessage.callback?  Must the USS validate message.callback for format/syntax and starts with 'https:'?   or must the USS also validate that callback is reachable?

If also the latter, then another data exchange needs to happen (HEAD)  before returning from servicing PUT UtmMessage.  OTOH  if the callback i

[2018-12-01 02:45] issmith1 opened #144 "UASVolumeReservation.type enum is not a required property"
the enum is
        DYNAMIC_RESTRICTION("DYNAMIC_RESTRICTION"),
        STATIC_ADVISORY("STATIC_ADVISORY");

but UVR.type can be null

[2018-12-04 13:48] nasajoey commented on #143
A USS is against spec if it doesn't provide a valid URL that provides the information it is supposed to provide.  So I think the current spec is sufficient:

[code]
GUD uses even less specification that this for URLs (just a string without format specifier), so I think we are fine.

Will close this one.  If I misjudged or misunderstood, please continue conversation here.

[2018-12-04 13:48] #143 closed

[2018-12-04 18:46] nasajoey opened #145 "NegotiationAgreements within Operation model"
We have converged on NegotiationAgreements being part of the Operation data model.  Having these data available with the affected operations is assumed to make it easier for airspace planning and further negotiations.  Will test in Sprint 4 with the assumption that it will likely stick for TCL4 flight testing.

[2018-12-05 13:36] nasajoey commented on #130
Does this ticket change at all given that we are indeed shoving the NA into the Operation model?

[2018-12-05 18:43] #144 closed

[2018-12-05 18:43] #145 closed

[2018-12-06 11:06] jeremie-leproust commented on #130
As long as it is clear what are the two USSs that negotiated together (which is the originator and which is the receiver), we should be good :)

[2018-12-13 12:57] issmith1 opened #146 "rm archaic reference to UTMRestResponse.resources"
remove archaic reference to UTMRestResponse.resources

The 'resources' field was tcl2

[2018-12-15 21:18] issmith1 opened #147 "Fims Authz Swagger - sync to TCL4"
'authorities' has been removed from token (Dec 13)
But needs more work.

As per https://www.owasp.org/index.php/REST_Security_Cheat_Sheet,
"Some claims have been standardised and should be present in JWT" eg, iss, aud, exp and nbf

As per Slack discussion
Joey (UTM Chief Engineer) [Dec 13th at 11:14 AM]
we need to remove expires_in from yaml.  we need to remove authorities from token.  there are p

[2019-01-29 15:37] nasajoey opened #149 "EventMetadata test_run should be int?"
Current test_run is a string.  Likely always represents an integer.  If so, should just be an int.

[2019-02-05 17:47] issmith1 opened #150 "ContingencyPlan valid_time_begin and _end description says "Optional""
utm-commons domain ContingencyPlan encodes that valid_time_begin and _end are required fields, however the description of valid_time_begin and _end state "Optional".

~ line 978
  valid_time_begin:
        description: >-
          Optional. Time that this location is expected to be first available.
          ...

[2019-02-05 21:34] HarryAirMap opened #151 "The size range for uss_name is not consistent"
There are fields like uss_name, uss_name_of_originator, and uss_name_of_receiver.

At some places their range is [1,250], but at some other places their range is [4, 250].

It is better to make them consistent.

[2019-02-05 22:05] boguwei opened #152 "update time and submit time sequencing"
I wanted to open a discussion around forcing `update_time` to be equivalent to `submit_time` for first PUT. ([ref here](https://github.com/nasa/utm-apis/blob/v4-draft/utm-domains/utm-domain-commons.yaml#L427))

There could be a variety of reasons where a receiving USS misses the first announcement of an operation from another USS. The effect of this requirement would result in the receiving USS re

[2019-02-06 01:02] issmith1 commented on #146
change to message

[2019-02-06 02:16] issmith1 commented on #152
hi Bogu, thanks for bringing this up.  Indeed if a first announcement is missed we don't want to miss subsequent emergency messages about that operation.

For PUT uss/operation/1234 the validator logic can be as follows.  Would this make sense?

if (gufi.1234 exists) {
   // this is an Op Modification
   validate submit_time < update_time
   do Op Mod (update db)
} else {
   // this is a New Op

[2019-02-06 02:43] boguwei commented on #152
for the logic you described, if we missed the first PUT operation, then gufi.1234 would not exist in our database.
when we receive the second PUT operation, we would assume that since we did not have the gufi, it is the first PUT for the op. validation would fail at that point because the PUT in fact is not.

am I interpreting the logic you described right?

[2019-02-06 03:16] issmith1 commented on #152
correct,  if the intended OpMod was correct WRT update and submit times,  then the validation would fail.  We would get no Op models.  This is a tough trade off.

[2019-02-06 03:35] boguwei commented on #152
to ask a more underlying question then: why do we specifically prescribe a greater than comparison for updates? or put another way, if I were to get an op *update* which had the update and submit times be exactly the same, what's the intended concern on my part as the receiving party?

i get that it could be problematic if the update time was before the submit time, but i'm up until now I haven't

[2019-02-07 20:01] esparano commented on #152
I guess it does seem odd that the receiver of the operation is the one to determine whether it's a _submit_ or _update_.

And while this type of scenario shouldn't arise because the receiver should have already gotten the first PUT, is there any way to correct this type of miscommunication once it occurs, or are both participants stuck?

[2019-02-08 01:30] issmith1 commented on #152
Client-determined intent to create or modify would support, in a straightforward way,  both validation robustness and lost data handling.

@nasajoey can speak better on this, but In the earlier parts of this UTM project (which had a significantly different requirements) we had interfaces with both POST- and PUT-model.  Because the early prototype of the USS-API interface had no use cases for POST,

[2019-02-08 16:23] boguwei commented on #152
@esparano and I actually ran into this specific corner case during the shakedown, which is how it came up. it would be good if we could come to some consensus for Sprint 4 next week, since this is artificially bottlenecking our ability to interoperate.

the way I see it, there are 3 options we could move forward on (please correct if any of the assumptions in this are wrong):
1. keep the spec as i

[2019-02-08 17:26] issmith1 commented on #152
Since we have pinned the API at the beginning of SIM 4 Sprint, one #1 is a short term possibility.

[2019-02-13 22:00] issmith1 commented on #152
@nasajoey Please determine if we can relax the current validations as per #1, or if we will be considering a longer term API change which will be managed with the next API unpinning.

[2019-02-13 22:02] issmith1 commented on #146
fixed in v4-draft branch

[2019-02-13 22:02] #146 closed

[2019-02-13 22:03] issmith1 commented on #123
No complaints from stakeholders. Good enough

[2019-02-13 22:03] #123 closed

[2019-02-13 22:07] issmith1 commented on #11
@nasajoey  did 100% coverage.  WOW

[2019-02-13 23:17] #11 closed

[2019-02-13 23:19] nasajoey commented on #151
the correct range is [4,250] going off the minimum length of a valid DNS name.  something like:

`a.co` or `c.at` are as short as allowed by DNS specs I think.  So 4 chars is the correct min.

Trick is finding them all in the various API docs.  If anyone sees specific ones, feel free to note them in this ticket.

[2019-02-14 03:09] issmith1 commented on #151
Joey,Our main question is,  technically this is breaking change.
BUT its highly unlikely going to break in reality.  Thus may we fix it now rather than managing with another sprint/cycle of API changes?

[2019-02-14 04:21] nasajoey commented on #151
fix it now, I'd say.  the only way it truly breaks someone is if a USS provides a DNS name less than 4 characters... since we know we have no valid USS names of size less than 4 (and never will), they would fail anyway due to invalid creds.  I think this one is safe to change at any time we choose.  Will leave the timing to you.

[2019-02-14 22:43] utmnasa commented on #102
For TCL4 we reduced UTMRestResponse from 3 to 2 fields, reasons were for data size reduction (and simplicity).

[2019-02-14 23:02] HarryAirMap commented on #102
The receiver side does not need to store the extra fields. Simply ignoring any extra field should be good. Quite often the extra fields contain values for internal test, e.g. we have assigned a code to each individual error for bad requests or forbidden requests, and add an extra field "code" to the http response of 400, 403 or 404. e.g. the http response will look like {"http_status_code":403,"me

[2019-02-14 23:04] utmnasa commented on #102
We have a similar code strategy but we embed it in the 'message' field.

[2019-02-15 01:40] nasajoey commented on #152
I think the historical reasons for this requirement may be moot due to use of grid for discovery.  I think @boguwei 's second option above is good, with the requirement that a USS MUST use submit `==` update for their first announcement.  That may prove useful someday and it doesn't hurt this issue.  It can still be a trigger if the first time a USS gets a PUT for an op and submit_time `< `update

[2019-02-15 01:41] nasajoey commented on #152
@issmith1 , @esparano , @boguwei please check my logic and if we can converge, we'll close this off.

[2019-02-15 02:05] utmnasa commented on #151
c4cfa67ea32dbac7db23a6a21867a3eae577966e
domain file

[2019-02-15 02:05] #151 closed

[2019-02-15 16:17] nasajoey commented on #152
To more formalize, I think we make the `==` a SHOULD rather than a MUST.  So the two requirements would be:

1. For OperationPlan data, submit_time MUST be less than or equal to update_time
2. For OperationPlan data, on the first announcement of an Operation, submit_time SHOULD be equal to update_time.

[2019-02-15 16:45] boguwei commented on #152
i think that makes sense. to clarify, would that mean the validation suites will only fail if no. 1 is violated?

[2019-02-15 17:02] nasajoey commented on #152
@boguwei , that is correct... for validation and tests, USSs will be checked against #1 only.

[2019-02-15 17:02] utmnasa commented on #152
The USS Spec (document, not swaggerspec) says
The key words 'MUST,' 'MUST NOT,' 'REQUIRED,' 'SHALL,' 'SHALL NOT,' 'SHOULD,' 'SHOULD NOT,' 'RECOMMENDED,' 'NOT RECOMMENDED,' 'MAY,' and 'OPTIONAL' in this document are to be interpreted as described in [RFC2119].

[2019-02-15 17:11] nasajoey commented on #152
@utmnasa that is correct.  I believe my 2 requirements are interpreted correctly using RFC2119.  Please correct if not.

[2019-02-15 18:25] HarryAirMap commented on #102
May I suggest keep a balance between convenience and  strictness? e.g. always allow 1 extra field, if the number of required fields are 5, then set the check to 6.

[2019-02-15 21:07] issmith1 commented on #150
fixed

[2019-02-15 21:07] #150 closed

[2019-02-15 21:47] issmith1 commented on #152
@nasajoey  PR updated as per #1 and #2 from 5h ago.

[2019-02-16 04:51] esparano commented on #152
I think #2 makes sense... I'd rather have USSs maintain strict validation so that everyone is in sync. I think that would fix the issue where we got stuck rejecting the operation.

[2019-02-16 21:21] issmith1 commented on #152
thank you @boguwei for contributing the solution

[2019-02-16 21:21] #152 closed

[2019-02-20 22:13] issmith1 commented on #102
Another option is to add an Optional field ONLY to UTMRestResponse.
It can be of  type int or int[] array of  a small max size.

[2019-02-20 22:25] issmith1 commented on #102
Section 8 of USS Spec says
"For any exchange of JSON-formatted data, the receiver MAY ignore any fields that are supplied by the sender that are not included in the relevant schema definition."

thus Tcl4valtest has a bug in that it disallows an extra field in UTMRestResponse.

[2019-02-20 22:25] #102 closed

[2019-02-21 15:05] nasajoey commented on #102
I know this is closed, but for historical completeness, I'd like to provide references that illustrate where the thinking that unknown fields should be disallowed.  I still feel that in the long term for an operational UTM System, that USSs must conform to a spec such that no unrecognized fields are allowed.

This is supported by NASA Secure Coding Practices:

There are other NASA SCPs as well tha

[2019-02-21 15:06] nasajoey commented on #102
OWASP reference: https://www.owasp.org/images/0/08/OWASP_SCP_Quick_Reference_Guide_v2.pdf

[2019-02-22 22:56] issmith1 opened #158 "clarify USS Spec 'for date-time in the past' validation"
NASA is dropping USS date-time-past requirement from the tcl4 participation requirement.
which is

"For an update to an Operation, date-time fields that are in the past MUST NOT be modified."
https://github.com/nasa/utm-apis/blob/v4-draft/uss-api/swagger.yaml#L598

case1:
    1. USS-under-test is in grid and successfully announced to USSb.
    2. USSut's Op has 3 volumes. USSut is now Active in op

[2019-02-22 22:56] issmith1 commented on #158
Note that, in any case, an announcing USS would never set opVol.begin to exactly now(), rather, it would offset opVol.begin  into the future to cover data exchange latency.

See USS Specification section 13.3 for overview of OpMod during Contingencies.

[2019-02-25 19:17] issmith1 opened #159 "discuss tcl4valtest's validation order assumptions"
Tcl4valtests assume this Validation order:
1. Check for valid access_token before processing the http request body.  *403* if scope is wrong, *401* if invalid token.
2. Validate JSON body (syntactic check… strings, doubles, lengths, non-nulls, etc.)  *400* on failure.
3. If uss_name != sub claim, return *403*
4. if other business logic failure, return *400*
5. otherwise return *20x* (edited)

[2019-02-25 19:21] issmith1 commented on #159
The policy is, if a USS can reasonably meet this ordering we ask that be so.   If a USS decides they cannot recode to this order,  contact NASA so we change test(s) to accept more than one valid reply.

[2019-02-25 22:30] esparano commented on #159
There are a few extra validations we do, and I'm not sure where they fall into this validation order.

a) We throw a 400 when referenced operations cannot be found. Is this part of step 2 or 4?

b) We throw a 403 when the referenced operation's uss_name does not match that of the requestor. This check is for Positions, UtmMessages, and NegotiationMessages that reference operations, and excludes Ut

[2019-02-26 02:01] issmith1 commented on #159
USS Spec does not ask for this validation to be made, the tcl4valtests does not consider it.

THe USS Spcs allows the USS to determine data referential integrity between data from other USSs.  Example is, a USS gets an gufi123 from another USS followed by a Position Report for gufi123. USS Spec does not say what happens if Position is received before the Op.

Another case is, a USS never got the f

[2019-02-26 02:19] issmith1 commented on #159
b) is #3
c) is #3 but I consider this up for discussion.  I can see where it is reasonable if some 400s are checked before this referential integrity check; both are in the webapp.
d) #3

[2019-03-04 00:58] nasajoey opened #160 "Fix metadata example to match current model"
https://github.com/nasa/utm-apis/blob/578fdfac2fa351b573ce6813704ebed072d32e72/utm-domains/utm-domain-metadata.yaml#L148

Metadata still has "test identifiers" in example referencing stuff from TCL3.  Update.

[2019-03-05 18:35] mcelhennyi commented on #159
We have a  conflict with the current approach to the combos of priority elements testing.

When we are testing for priority_elements combos we are tested on PUBLIC_SAFETY combos at our /operations endpoint. We believe this should be tested at our /enhanced/operations endpoint. This is because it is much simpler to first check a single field (priority_status) before checking both fields for combina

[2019-04-04 17:32] nasajoey commented on #110
@issmith1 does this example still reflect what the auth server produces as an access_token?  I feel like the auth server may be adding in additional fields?  can you confirm/deny my feelings?

[2019-04-05 04:17] issmith1 commented on #110
this is its payload

{
  "sub": "utmalpha.arc.nasa.gov",
  "nbf": 1554437654,
  "scope": [
    "utm.nasa.gov_write.operation"
  ],
  "iss": "fims.arc.nasa.gov/fimsAuthServer",
  "exp": 1554441254,
  "jti": "4bad133a-2054-4e26-9eb6-1ed9a64c6db1",
  "client_id": "utmalpha.arc.nasa.gov"
}

[2019-04-05 04:20] issmith1 commented on #110
we thought of adding 'aud' but that is yet an open issue.

We look at 'sub'.  With our framework I needed to grab 'sub' from the   http-request-filter-chain so it can be checked in our webapp.

[2019-04-16 18:49] amazinigmech2418 commented on #140
I'm not completely sure on how the servers handle requests for an Operation Plan, but I would suggest using payload size limits for specific servers. It may be possible to log the exchange of data from each server and make sure that the exchange doesn't exceed a specific value that would be problematic for that server. If a server can't handle a specific request, it may be possible to divide the l

[2019-04-26 17:27] jeremie-leproust opened #161 "Better define discovery_reference fields"
https://github.com/nasa/utm-apis/blob/d2e432b1d075691b21db633e7b14f76597a9b3db/utm-domains/utm-domain-commons.yaml#L372-L385

Most common models include a *discovery_reference* field. In the last weeks, in the context of UTM exchanges for UPP in the Nevada test site, we faced multiple issues based on this field. Here is a short summary:
1. The field is optional, which is problematic while using th

[2019-05-01 14:47] issmith1 opened #162 "relaxing "CP list size must be >= OpVol list size""
For TCL4 event, NASA is dropping the requirement for providing a full list of Contingency Plans.   USS implementations should remove this validation from the PUT Operation endpoint.

NASA learned recently that Tcl4valtests is not enforcing this requirement.

Inclusion of this requirement is under consideration for the wrapup of the USS Spec

https://raw.githubusercontent.com/nasa/utm-apis/v4-draft

[2019-06-13 15:25] issmith1 commented on #109
seems this issue should be closed since the code under discussion was moved away from this project

[2019-07-25 15:01] issmith1 commented on #158
Joey (UTM Chief Engineer) Today at 7:33 AM
@here Note that we saw issues in NV with USSs submitting Operation plan updates within the USS Network, but neglecting to refresh the update_time field.  This was a lesson learned sent to the TX team.  We will be actively monitoring this issue and pinging offending USSs to get that fixed.

2 replies

Joey (UTM Chief Engineer)  27 minutes ago
@Rao @Priya V

[2019-07-25 15:02] issmith1 commented on #158
Better title for this is "should USS-API offer POST Operation?"

[2019-09-26 22:01] nasajoey commented on #159
We address this as a known open issue in the forthcoming auth tech memo.  For NASA UTM research purposes, we have successfully revealed this as an issue and will likely leave it here since flight testing is complete.  other projects or standards groups may want to reference this issue in developing the details to follow on to our Project's work.

[2019-09-26 22:01] #159 closed

[2019-09-26 22:02] nasajoey commented on #149
testing complete.  issue moot.

[2019-09-26 22:02] #149 closed

[2019-09-26 22:02] nasajoey commented on #147
@issmith1 I think we are good on this one, right?  Can close?

[2019-09-26 22:05] issmith1 commented on #147
Publication of the UAS Service Supplier Framework for Authentication and Authorization will lock down the status of the JWT scopes.

[2019-09-26 22:05] #147 closed

[2019-10-22 17:13] shortwavedave opened #164 "Sorry, we can't find utm / uss / v4"
Have the api specs moved off of swagger hub? I get this error when trying to access any of the specs on https://app.swaggerhub.com/organizations/utm

for example: https://app.swaggerhub.com/apis/utm/uss/v4

![image](https://user-images.githubusercontent.com/22798574/67311397-b9d0ab00-f4bc-11e9-9076-53f9ccbfdd0e.png)

[2019-10-22 17:16] nasajoey commented on #164
We ended our subscription on swagger hub, and consider the github repository the current truth for the NASA UTM APIs.

[2019-10-22 17:18] nasajoey commented on #164
Note, we've found that editor.swagger.io provides good functionality for web-accessible documentation in the short term:

http://editor.swagger.io/?url=https://raw.githubusercontent.com/nasa/utm-apis/master/uss-api/swagger.yaml

you can replace that url target parameter with any raw version of the APIs that find here on github.

[2019-10-22 17:19] shortwavedave commented on #164
thanks @nasajoey

[2019-10-22 17:19] #164 closed

[2020-02-28 04:29] shortwavedave opened #168 "uss_id not a property of Operation"
In the USS api spec, for a put on '/operations/{gufi}', there is the note:

https://github.com/nasa/utm-apis/blob/f415e12f67c71e3aaaaec7dffa5a3838f0cf693d/uss-api/swagger.yaml#L602

However, there is no uss_id property defined in the Operation object in utm-domain-commons.yaml
https://github.com/nasa/utm-apis/blob/f415e12f67c71e3aaaaec7dffa5a3838f0cf693d/utm-domains/utm-domain-commons.yaml#L338

H

[2020-02-28 17:43] nasajoey commented on #168
Looks like a typo.

Instead of
`Operation.uss_id == access_token.sub`

We should have
`Operation.uss_name == access_token.sub`
in order to match the definition in commons.

Thanks for the links... I used them to check this quickly.  If my answer doesn't make sense or if you think I may have mis-stated something, please follow up.

[2020-02-28 19:41] shortwavedave commented on #168
Thanks @nasajoey I submitted a pull request, so I'll close this issue

[2020-02-28 19:41] #168 closed

[2020-06-09 20:55] nasajoey opened #173 "Allow request for multiple scopes"
https://github.com/nasa/utm-apis/blob/1c4f999a8d96588ffec7c73654c10605490c8986/fimsauthz-api/fims-authz.yaml#L62

We need to allow for and array of scopes to be requested to support UPP2.0 activities.

Will file a separate ticket related to validating the allowable combinations of scopes that can be requested/granted.

[2020-06-09 20:58] nasajoey commented on #173
maybe @issmith1 is already taking this.

[2020-06-09 21:05] nasajoey opened #174 "Add documentation to API spec regarding limits to scope requests"
Following #173 we need to specify which groups of scopes are valid to request.  We wish to limit the groups to only those which are valid to request to maintain least privilege.

Will have to obtain the groupings from team.  I think there is only one valid pairing (RID regular and RID enhanced), otherwise all requests should be single scoped.

[2020-06-11 18:14] issmith1 commented on #173
https://github.com/nasa/utm-apis/commit/4260051071f0f7b5d8dfc6bd3d4a0b30c869fdfb
Spec changed.
This implementation of this spec is tracked internally via UAMX3-456

[2020-06-11 18:14] #173 closed

[2020-06-11 18:16] issmith1 commented on #174
Spec changed- service implementation via UAMX3-456

[2020-06-11 21:00] rebekah-cna opened #176 "Require current_timestamp in /token request?"
https://github.com/nasa/utm-apis/blob/4260051071f0f7b5d8dfc6bd3d4a0b30c869fdfb/fimsauthz-api/fims-authz.yaml#L73

The timestamp field is currently optional in /token. This will allow reuse of old signed token requests (https://github.com/nasa/utm-apis/pull/171#discussion_r418314053). To help combat token reuse/replay, should this field be required?

The authorization server would then need to spec

[2020-06-11 22:30] nasajoey commented on #176
This is a great catch.  I know that we were uncertain for a little while in initial discussions if one or both of "salt" and "current_timestamp" should be required.  We must not have gone back and codified the decision.

I think my understanding is exactly as @rebekah-cna describes... current_timestamp is to be required, while salt is current optional.  For implementation purposes, salt isn't used

[2020-06-15 12:50] issmith1 commented on #176
FAA's implementation:
Math.abs(now.getTime() - t.getTime()) < 5000
Where now is a javascript Date of the current time on the fims_server and t is a Date of the request.current_timestamp (edited)

[2020-06-15 13:26] issmith1 commented on #174
https://github.com/nasa/utm-apis/blob/4260051071f0f7b5d8dfc6bd3d4a0b30c869fdfb/fimsauthz-api/fims-authz.yaml#L70

[2020-06-15 13:26] #174 closed

[2020-06-15 13:34] issmith1 opened #177 "align JWT Claim set scope list data type with standards and industry"
JWT Claims Set's scope element is an array whereas both 'scope' GET Token request and Token response is a space-separated string.  Our industry partner is currently incompatible with an array.   Determine a fix amenable to industry, FAA and available standards, and document in this API.

Verify FAA's implementation wrt validation of a JWT Claims Set's scope element.

The only occurrence of multipl

[2020-06-15 23:25] nasajoey commented on #176
@issmith1 can you confirm the units for the "5000" in your note above?  I'm assuming ms but want to be clear.

I'm worried that due to lack of requirements for time synchronization within the USS Network and inherent latencies that we may have issues with this check in production if only 5 seconds.

We saw many issues when comparing timestamps across servers in TCL1-3.

[2020-06-15 23:30] issmith1 commented on #176
NASA's implementation - recommend externalizing/parameterizing the 5 second time definition.

[2020-06-16 18:06] issmith1 opened #178 "add 'aud' claim to align with ASTM oauth2 ? requested by industry"
The ASTM spec does not require 'aud'.
https://github.com/astm-utm/Protocol/blob/master/utm.yaml#L66

Upon receipt of a token, DSS requires 'aud' claim.  If missing the token DSS will reject the token.
As per MAAP meeting jun16 Chris asked DSS to relax and industry's reply was no;  it must comply with oauth2 standard.

Assigning to Joey as I don't have his stance on this.  The MAAP meeting on 10a j

[2020-06-16 18:20] nasajoey commented on #178
Sounds good @issmith1 .  We'll coordinate with FAA to ensure our implementations are equivalent based on discussions with stakeholders.  When we get a concrete answer I will likely document here and then hand back off to @arkits for implementation.

[2020-06-16 18:25] nasajoey commented on #178
@issmith1, related to your quote of RFC6749, we are not using any implicit flow for USS-USS or USS-DSS, so I don't think that is directly applicable.  Note that it may still be reasonable to use `aud`, but not due to that particular passage from the RFC.  Please correct me if I am mistaken.

[2020-06-16 23:22] issmith1 commented on #178
I clarified my meeting notes which claim the ASTM spec requires aud.

https://github.com/astm-utm/Protocol/blob/master/utm.yaml#L66
Also on L73 aud is mentioned.

[2020-06-16 23:25] nasajoey commented on #178
Hmmm... if that is their DSS API it doesn't seem to make aud a requirement.  Looks like a suggestion.

[2020-06-17 21:57] issmith1 commented on #176
OK fixed all 3 .  Here are line #s roughly
71: token request
215: token response
329: jwt claims

[2020-06-17 22:52] issmith1 commented on #177
JWT Claim’s Scope
https://github.com/nasa/utm-apis/issues/177   Spec is closed

Service is Open https://atmjira.arc.nasa.gov/browse/UAMX3-466

[2020-06-17 22:52] issmith1 commented on #176
Token Request’s current-timestamp
https://github.com/nasa/utm-apis/issues/176  spec is closed
service is open
https://atmjira.arc.nasa.gov/browse/UAMX3-466

[2020-06-17 22:52] #176 closed

[2020-06-17 22:52] #177 closed

[2020-06-17 22:56] arkits commented on #178
Noting down a few thoughts -

- FIMS-AZ's API will need to be updated to integrate this. The token requester will need a way to specify who the audience of the token is. First thought is to add another required field to support this. For example -
[code]

- For USS to DSS communication, the aud must be something generic such as `discovery`, rather than `dss_host_a`. One of the concepts behind the

[2020-06-18 16:08] myspri commented on #178
Looks like the way to allow auth server to set aud claim is like this
https://tools.ietf.org/id/draft-bertocci-oauth-access-token-jwt-00.html#JWTATLRequest

[code]
and the response will be
[code]
It looks like when USSs request a token to access DSS, then they specify the URL of the DSS server. Auth server uses this to set the aud claim in the JWT.
In the absence of the resource parameter (when th

[2020-06-30 22:08] nasajoey commented on #178
Based on discussions with FAA and UPP2 participants, we will support the aud claim.  Updating the API to mach this understanding.

[2020-06-30 22:11] nasajoey commented on #178
USS partners indicated that they will use the URL of the server that is targeted for use with the access token as the value for aud.

Authorization server may not implement more than syntactic validation of the audience request.  The requirement for ensuring that the correct aud claim is provided in a token will be on the USSs and DSS to determine.

In the future, as requirements are further devel

[2020-07-22 23:47] #178 closed